.Dropdown {
  $dropdown-padding-x: 1rem;
  $dropdown-padding-y: 0.5rem;
  $dropdown-border-color: transparent;
  $dropdown-border-width: 0;
  $dropdown-border-radius: var-get('borderRadius');
  $dropdown-color: var-get('colorLight');
  $dropdown-background: var-get('borderColor');
  $dropdown-transition-timing-function: ease-out;
  $dropdown-transition-duration: 0.3;
  $dropdown-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  position: relative;
  display: inline-block;
  background: $dropdown-background;
  border-style: solid;
  border-color: $dropdown-border-color;
  border-width: $dropdown-border-width;
  border-radius: $dropdown-border-radius;
  color: $dropdown-color;

  // Colors
  @include contextual-colors();

  &-label {
    position: relative;
    z-index: 1;
    display: flex;
    padding: $dropdown-padding-y $dropdown-padding-x;
    cursor: pointer;
    appearance: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    width: 100%;
    text-decoration: none;
    background: transparent;
    border: 0;
    color: inherit;
    font-size: inherit;

    *[tabindex='-1'] {
      position: absolute;
      background: transparent;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
    }

    &:after {
      @extend .Icon:before;

      @extend .Icon-chevron-right.Icon--small:before;

      display: inline-block;
      vertical-align: middle;
      transition: transform $dropdown-transition-duration $dropdown-transition-timing-function;
      transform: rotate(0deg);
      transform-origin: center;
      pointer-events: none;
      position: relative;
      left: 0.25em;
    }
  }

  &-content {
    max-height: 0;
    padding-top: 0;
    margin-top: 0;
    list-style-type: none;
    position: absolute;
    top: 100%;
    min-width: 100%;
    transition: max-height $dropdown-transition-duration $dropdown-transition-timing-function;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: $dropdown-border-radius;
    border-bottom-right-radius: $dropdown-border-radius;
    overflow: hidden;
    background: var-get('colorLight');
    box-shadow: $dropdown-shadow;
  }

  &-label[data-toggle='dropdown']:focus {
    *[tabindex='-1'] {
      display: block;
    }
  }

  &-label:focus {
    outline: none;
  }

  &.is-open &-label,
  &-label[data-toggle='dropdown']:focus {
    outline: none;

    &:after {
      transform: rotate(90deg);
    }
  }

  &.is-open &-content,
  &-label[data-toggle='dropdown']:focus + &-content {
    max-height: 300px;
    height: auto;
    width: 100%;
    min-width: 100%;

    &:before {
      position: absolute;
    }
  }
}
