.#{$namespace}Tag {
  $tag-color: var-get('gray500');
  $tag-background: var-get('colorLight');
  $tag-border-color: currentColor;
  $tag-border-width: var-get('borderWidth');
  $tag-border-radius: 0;
  $tag-padding-x: var-get('spacing2');
  $tag-padding-y: var-get('spacing1');
  $tag-font-size: var-get('fontSizeSmall');
  $tag-font-family: var-get('fontFamilyMono');
  $self: &;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  height: 1.625rem;
  font-size: $tag-font-size;
  padding: $tag-padding-y $tag-padding-x;
  font-family: $tag-font-family;
  text-transform: uppercase;
  border-radius: $tag-border-radius;
  background-color: $tag-background;
  border-style: solid;
  border-color: $tag-border-color;
  border-width: $tag-border-width;
  border-radius: $tag-border-radius;
  color: $tag-color;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:visited {
    filter: brightness(calc(100% - #{var-get('linkHoverContrast')}));
    text-decoration: none;
  }

  @include contextual-colors();

  &--outline {
    background-color: var-get('primaryLight');
    &:hover,
    &:visited {
      filter: none;
    }
  }

  @include contextual-colors(('color', 'border-color'), $selector: '#{&}--outline:not(:hover)') {
    background-color: var-get('colorLight');;
  }


  @at-root {
    #{$self}--selectable,
    button#{$self},
    #{$self}[type='button'],
    a:link#{$self} {
      cursor: pointer;
    }
  }

  &[data-icon],
  &[data-close] {
    vertical-align: middle;

    &:after,
    &:before {
      display: inline-flex;
      font-size: initial;
      vertical-align: text-top;
    }

    &[data-icon] {
      &:before {
        @extend .#{$namespace}Icon:before;
        content: attr(data-icon);
      }
    }

    &[data-close] {
      &:after {
        @extend .#{$namespace}Icon:before;
        content: 'close'
      }
    }
  }

  &-icon {
    display: inline-flex;
    vertical-align: middle;

    &:before {
      font-size: initial;
      vertical-align: text-top;
    }
  }
}
