.#{$namespace}Stepper {
  $stepper-border-color: var-get('borderColor');

  margin-bottom: var-get('spacing4');

  $self: &;

  @extend .#{$namespace}Tabs;

  counter-reset: step-item-counter;
  margin-top: -#{var-get('spacing2')};

  &-content {
    @extend .#{$namespace}Tabs-content;

    margin-top: var-get('spacing4');
  }

  &-header {
    @extend .#{$namespace}Tabs-header;

    margin-top: var-get('spacing2');
    counter-increment: step-item-counter;
    display: inline-flex;
    align-items: center;
    flex: 1 0 auto;

    &:before {
      content: counter(step-item-counter);

      @extend .#{$namespace}Button;

      @extend .#{$namespace}Button--outline;

      @extend .#{$namespace}Button[data-count];

      color: currentColor;
      margin-right: var-get('spacing2');
    }

    &:after {
      width: auto;
      flex: 1 0 auto;
      height: 1px;
      background: $stepper-border-color;
      border: 0;
      padding: 0;
      margin-left: #{var-get('spacing2')};
    }

    ~ #{&} {
      flex: 1 1 auto;

      &:after {
        order: 0;
      }
    }

    &:last-of-type {
      flex: 0 1 auto;
      margin-right: 0;
    }
  }

  &--navigation &-header {
    width: auto;
    order: 1;
    margin-right: 0.2rem;
    margin-top: 0;
  }

  &-header.is-active,
  input[type="radio"]:checked + &-header {
    color: inherit;

    &:before {
      color: var-get('colorPrimary');
    }
  }
}
