$colors: get-colors();

@each $breakpoint in map-keys(screen-get()) {
  $infix: screen-infix($breakpoint);

  @include screen-up($breakpoint) {
    @each $name, $value in $colors {
      .u-#{$infix}backgroundColor#{string-capitalize($name)} {
        background-color: $value !important;
      }
    }
  }
}
