$olt-link-selector: '.olt-link';

/**
 * for basic usage without extra classes
 */
@mixin olt-link-core($color: $primary-01) {
  color: $color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @content; // pass childs
}

/**
 * olt-link
 */
@mixin olt-link-definition {
  #{$olt-link-selector} {
    &:not(#{$olt-link-selector}--normalize) {
      @include olt-link-core {
        @content; // pass childs
      }
    }

    // modifir
    &--normalize {
      color: inherit;
      text-decoration: inherit;
    }
  }
}

/**
 * define a container based link defintion
 */
@mixin olt-link-childs($tag-defintion: true, $class-defintion: true) {
  @if $class-defintion {
    @include olt-link-definition;
  }

  @if $tag-defintion {
    a {
      @include olt-link-core;
    }
  }

  // not allow to use wihtout any defintion
  @if ($tag-defintion = false and $class-defintion = false) {
    @warn 'olt-link class definition without effect';
  }
}
