@keyframes olt-notification-animation-open {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }

  1% {
    visibility: visible;
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes olt-notification-animation-close {
  0% {
    transform: translateY(0%);
    visibility: visible;
  }

  99% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
    transform: translateY(100%);
  }
}

.Notification {
  $notification-border-radius: 4px; // var-get('borderRadius');
  $notification-backdrop: rgba(255, 255, 255, 0.7);
  $notification-box-shadow: 0 2px 6px 0 rgba(13, 18, 44, 0.2);
  $notification-padding-x: 1.5rem;
  $notification-padding-y: 0.75rem;
  $notification-content-padding-x: var-get('spacing3');
  $notification-content-padding-y: var-get('spacing3');
  $notification-background: var-get('colorLight');
  $notification-height: 75px;
  $notification-width: 320px;
  $notification-transition-duration: 0.2s;
  $notification-transition-timing-function: ease-in;
  $self: &;

  width: 0;
  height: 0;
  opacity: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-family: var-get('fontFamilyBase');
  background: $notification-background;
  border-radius: $notification-border-radius;

  &-dialog {
    // animation-name: olt-notification-animation-close;
    // animation-duration: 400ms;
    // animation-fill-mode: forwards;
    width: 100%;
  }

  &-header {
    padding: 0;
    width: 100%;
    vertical-align: middle;
    font-weight: bold;

    &:before {
      @include icon-font-material;

      content: '';
      align-items: flex-start;
      font-size: 19px; // icon size
      vertical-align: middle;
      padding-right: 12px;
    }
  }

  &-content {
    padding: 0;
    padding-right: 38px; // TODO: close icon size + padding
    padding-left: 31px; // TODO: icon size + icon padding
  }

  &-close {
    @extend .Button;

    @extend .Button[data-icon];

    &:before {
      content: 'close';
    }

    position: absolute;
    color: #666;
    background-color: $notification-background;
    border-color: $notification-background;
    right: 0;
    top: 0;
    z-index: $olt-z-index-notification-close;
  }

  &-dialog &-close {
    @extend .Button--outline;
  }

  &.is-open {
    position: fixed;
    bottom: $notification-padding-y;
    margin-bottom: $notification-padding-y;
    right: $notification-padding-x;
    width: $notification-width;
    height: auto;
    min-height: $notification-height;
    // animation-name: olt-notification-animation-open;
    // animation-duration: 400ms;
    // animation-fill-mode: forwards;
    padding-top: $notification-content-padding-y;
    padding-bottom: $notification-content-padding-y;
    padding-left: $notification-content-padding-x;
    padding-right: $notification-content-padding-x;
    z-index: $olt-z-index-notification;
    display: flex;
    flex-wrap: wrap;
    box-shadow: $notification-box-shadow;
  }

  &--error &-header:before,
  &--error &-header {
    content: 'error_outline';
    color: var-get('colorError');
  }

  &--info &-header:before,
  &--info &-header {
    content: 'info_outline';
    color: var-get('colorInfo');
  }

  &--warning &-header:before,
  &--warning &-header {
    content: 'info_outline';
    color: var-get('colorWarning');
  }

  &--success &-header:before,
  &--success &-header {
    content: 'done';
    color: var-get('colorSuccess');
  }

  @at-root {
    *[data-toggle='notification'] {
      display: none;
    }

    *[data-toggle='notification'] + label:after {
      content: 'open';
    }

    *[data-toggle='notification']:checked + label:after {
      content: 'close';
    }

    // *[data-toggle='notification']:checked + label {
    //   display: none;
    // }

    #{$self}.is-open,
    *[data-toggle='notification']:checked + label + #{$self} {
      opacity: 1;
      position: fixed;
      bottom: $notification-padding-y;
      margin-bottom: $notification-padding-y;
      right: $notification-padding-x;
      width: $notification-width;
      height: auto;
      min-height: $notification-height;
      // animation-name: olt-notification-animation-open;
      // animation-duration: 400ms;
      // animation-fill-mode: forwards;
      padding-top: $notification-content-padding-y;
      padding-bottom: $notification-content-padding-y;
      padding-left: $notification-content-padding-x;
      padding-right: $notification-content-padding-x;
      z-index: $olt-z-index-notification;
      display: flex;
      flex-wrap: wrap;
      box-shadow: $notification-box-shadow;
    }
  }
}
