.#{$namespace}Headline {
  font-family: $olt-headline-font-family;
  font-weight: $olt-headline-font-weight;
  margin: 0 0 var-get('spacing2');
  word-break: break-word;

  &--1 {
    font-size: var-get('headingFontSize1');
    line-height: var-get('headingLineHeight1');
    margin-bottom: var-get('spacing3');
  }

  &--2 {
    font-size: var-get('headingFontSize2');
    line-height: var-get('headingLineHeight2');
    margin-bottom: var-get('spacing3');
  }

  &--3 {
    font-size: var-get('headingFontSize3');
    line-height: var-get('headingLineHeight3');
  }

  &--4 {
    font-size: var-get('headingFontSize4');
    line-height: var-get('headingLineHeight4');
  }

  &--5 {
    font-size: var-get('headingFontSize5');
    line-height: var-get('headingLineHeight5');
  }

  &--6 {
    font-size: var-get('headingFontSize6');
    line-height: var-get('headingLineHeight6');
  }

  &--regular {
    font-weight: normal;
  }
}
