@function screen-next($name, $breakpoints: $screen-breakpoints) {
  $breakpoint-names: map-keys($breakpoints);
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function screen-min($name, $breakpoints: $screen-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function screen-max($name, $breakpoints: $screen-breakpoints) {
  $next: screen-next($name, $breakpoints);
  @return if($next, screen-min($next, $breakpoints) - .02px, null);
}

@function screen-infix($name, $breakpoints: $screen-breakpoints, $delimiter: '-') {
  @return if(screen-min($name, $breakpoints) == null, '', '#{$name}#{$delimiter}');
}
