// TODO: Namespace
@function string-capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

@function string-contain($list, $value) {
  @return not not index($list, $value);
}

@function string-camelize($string) {
  $progress: $string;
  $result: '';
  $exclude: " ", "-", "–", "—", "_", ",", ";", ":", ".";

  @while str-length($progress) > 0 {
    $char: str-slice($progress, 1, 1);

    @if string-contain($exclude, $char) {
      $progress: string-capitalize(str-slice($progress, 2, 2)) + str-slice($progress, 3);
    } @else {
      $result: $result + $char;
      $progress: str-slice($progress, 2);
    }
  }

  @return $result;
}
