/**
 * Returns the value of the nested $vars variable specified by the list $path.
 * By default $vars contains the variables defined in `theme.yml` variable.
 *
 * Example:
 * `var-get-value(breakpoint lg)` => 992px
 *
 */
@function var-get-value($path, $vars: $--varss--data) {
  @if (length($path) == 0) {
    @return $vars;
  } @else {
    $key: nth($path, 1);
    $new-vars: map-get($vars, quote($key));
    $path-tail: remove-nth($path, 1);

    @return var-get-value($path-tail, $new-vars);
  }
}
