.Copyable {
  $self: &;

  display: inline-flex;
  flex-direction: row;
  appearance: none;
  border: 0;
  border-radius: 4px;

  &:focus {
    outline: none;
  }

  &:hover {
    background: rgb(227, 228, 229);
    outline: none;

    &:after {
      color: var-get('colorPrimary');
    }
  }

  &:after {
    @extend .Icon:before;

    @extend .Icon-action-duplicate.Icon--large:before;

    padding-left: 8px;
    align-self: center;
    content: 'filter_none';
    color: var-get('gray500');
  }
}
