.Copyable {
  $self: &;

  display: inline-flex;
  flex-direction: row;

  &:hover {
    background: rgb(227, 228, 229);

    &:after {
      color: var-get('primary');
    }
  }

  &:after {
    @include icon-font-material;

    padding-left: 8px;
    align-self: center;
    content: 'filter_none';
    color: var-get('gray500');
  }
}
