/**
 * List of exported css custom properties
 */

:root {
  --olt-v2-primaryColor: #{$olt-v2-primaryColor};
  --olt-v2-primaryColor-20: #{$olt-v2-primaryColor-20};
  --olt-v2-primaryColor-40: #{$olt-v2-primaryColor-40};
  --olt-v2-primaryColor-60: #{$olt-v2-primaryColor-60};
}

