{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "arrow-parens": [2, "always"],
    "import/prefer-default-export": [0],
    "import/no-default-export": [2]
  }
}