.V2Input {
  @extend %v2Control;

  &:-moz-placeholder {
    color: #a7a8aa;
    opacity: 0;
  }

  &::-moz-placeholder {
    color: #a7a8aa;
    opacity: 0;
  }

  &::-webkit-input-placeholder {
    color: #a7a8aa;
    opacity: 0;
  }

  &:disabled {
    &:-moz-placeholder {
      color: #d0d1d3;
    }

    &::-moz-placeholder {
      color: #d0d1d3;
    }

    &::-webkit-input-placeholder {
      color: #d0d1d3;
    }
  }

  &:focus {
    &:-moz-placeholder {
      opacity: 1;
    }

    &::-moz-placeholder {
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      opacity: 1;
    }
  }
}
