.Menu {
  $menu-color: var-get('colorLight');
  $menu-border-color: transparent;
  $menu-background: var-get('colorLight');
  $menu-border-width: 0;
  $menu-border-radius: var-get('borderRadius');
  $menu-padding-x: 0;
  $menu-padding-y: 0;
  $menu-font-size: inherit;
  $menu-font-size-submenu: var-get('fontSizeSmall');
  $menu-item-padding-x: 1rem;
  $menu-item-padding-y: 0.5rem;
  $menu-item-color: rgba(0, 0, 0, 0.7);
  $menu-item-hover: var-get('colorDark');
  $menu-item-active: var-get('colorDark');
  $menu-item-color-light: var-get('colorLight');
  $menu-item-hover-light: var-get('colorPrimary');
  $menu-item-active-light: var-get('colorPrimary');
  $menu-item-background-hover: transparent;
  $menu-item-background-active: transparent;
  $menu-transition-duration: 0.2s;
  $menu-transition-timing-function: ease-in;
  $self: &;

  margin: 0;
  padding: $menu-padding-y $menu-padding-x;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: $menu-background;
  border-color: $menu-border-color;
  border-width: $menu-border-width;
  border-radius: $menu-border-radius;
  border-style: solid;
  font-size: $menu-font-size;

  @include contextual-colors();

  &--outline {
    background-color: var-get('colorLight');

    &:hover,
    &:visited {
      filter: none;
    }
  }

  &--inline {
    display: inline-flex;
  }

  &--horizontal {
    flex-direction: row;
    align-items: stretch;
  }

  &-item {
    display: flex;
  }

  > .Dropdown {
    @extend #{$self}-item;

    > .Dropdown-label {
      @extend #{$self}-link;
    }
  }

  &-link {
    line-height: $olt-menu-link-line-height;
    white-space: nowrap;
    display: block;
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    padding: $menu-item-padding-y $menu-item-padding-x;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    background: transparent;
    white-space: nowrap;
    transition: all $menu-transition-duration $menu-transition-timing-function;
    display: flex;
    align-items: center;
  }

  #{$self} > &-item > &-link,
  #{$self} > .Dropdown > .Dropdown-label {
    color: $menu-item-color;

    &:link,
    &:visited {
      color: $menu-item-color;
    }

    &:hover,
    &:focus {
      color: $menu-item-hover;
      text-decoration: none;
    }

    &.is-active {
      background: $menu-item-background-active;
      color: $menu-item-active;
    }
  }

  #{$self}--dark > &-item > &-link,
  #{$self}--dark > .Dropdown > .Dropdown-label {
    color: $menu-item-color-light;

    &:link,
    &:visited {
      color: $menu-item-color-light;
    }

    &:hover,
    &:focus {
      color: $menu-item-hover-light;
    }

    &.is-active {
      color: $menu-item-active-light;
    }
  }

  &--dark > .Dropdown {
    display: flex;
    background: inherit;
    color: inherit;
  }

  &--sub {
    font-size: $menu-font-size-submenu;
  }

  &--sub + &--sub {
    box-shadow: none;
  }
}
