.#{$namespace}TextField {
  $self: &;

  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: $control-spacer;

  &--horizontal {
    flex-direction: row;
  }

  &-input {
    margin-bottom: 0;
    width: 100%;
  }

  &-icon {
    position: absolute;
    right: 0;
    top: 1.05rem;
    display: block;
    margin-bottom: var-get('spacing1');
  }

  &-input.is-error ~ &-message,
  &-input:invalid ~ &-message {
    color: var-get('colorError');
  }

  // TODO: rethink naming
  &.has-noLabel {
    #{$self}-icon {
      top: 0;
    }
  }

  &.has-icon {
    #{$self}-input {
      padding-right: 30px;
    }
  }

  &-label {
    text-align: left;
    display: block;
    margin-bottom: var-get('spacing1');

    &:required {
      outline: 3px solid green;
    }
  }

  &--required &-label {
    &:after {
      content: '*';
      display: inline-block;
    }
  }

  &-footer {
    @include form-field-footer($self);
  }

  &--float {
    #{$self}-footer {
      order: 2;
    }

    #{$self}-input {
      order: 1;

      @include control-placeholder(0);

      + #{$self}-label {
        pointer-events: none;
        cursor: text;
        transition: all 200ms;
        transform: translate3d(0, calc(100% + #{var-get('spacing1')}), 0);
        padding: 0 $olt-control-padding-x;

        @include control-placeholder-style();

        height: #{$label-font-size};
        line-height: $olt-control-height;
        vertical-align: middle;
      }

      &:focus,
      .has-value {
        @include control-placeholder(1);
      }

      &:focus + #{$self}-label,
      &.has-value + #{$self}-label {
        transform: translate3d(0, 0, 0);

        @extend %label;

        color: initial;
        line-height: 1;
        vertical-align: baseline;
      }
    }
  }
}
