// TODO: Use maps for property names and values
// TODO: Generate utilities with existing mixins

@each $breakpoint in map-keys(screen-get()) {
  $infix: screen-infix($breakpoint);

  @include screen-up($breakpoint) {
    .#{$namespace}u-#{$infix}justifyContentStart {
      justify-content: flex-start !important;
    }

    .#{$namespace}u-#{$infix}justifyContentCenter {
      justify-content: center !important;
    }

    .#{$namespace}u-#{$infix}justifyContentEnd {
      justify-content: flex-end !important;
    }

    .#{$namespace}u-#{$infix}justifyContentBetween {
      justify-content: space-between !important;
    }

    .#{$namespace}u-#{$infix}justifyContentAround {
      justify-content: space-around !important;
    }

    .#{$namespace}u-#{$infix}justifyContentEvenly {
      justify-content: space-evenly !important;
    }
  }
}
