// TODO: Use maps for property names and values
// TODO: Generate utilities with existing mixins
.#{$namespace}u-justifyContentStart {
  justify-content: flex-start !important;
}

.#{$namespace}u-justifyContentCenter {
  justify-content: center !important;
}

.#{$namespace}u-justifyContentEnd {
  justify-content: flex-end !important;
}

.#{$namespace}u-justifyContentBetween {
  justify-content: space-between !important;
}

.#{$namespace}u-justifyContentAround {
  justify-content: space-around !important;
}

.#{$namespace}u-justifyContentEvenly {
  justify-content: space-evenly !important;
}

@each $breakpoint in map-keys($breakpoints) {
  @include screen-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    .#{$namespace}u-#{$infix}justifyContentStart {
      justify-content: flex-start !important;
    }

    .#{$namespace}u-#{$infix}justifyContentCenter {
      justify-content: center !important;
    }

    .#{$namespace}u-#{$infix}justifyContentEnd {
      justify-content: flex-end !important;
    }

    .#{$namespace}u-#{$infix}justifyContentBetween {
      justify-content: space-between !important;
    }

    .#{$namespace}u-#{$infix}justifyContentAround {
      justify-content: space-around !important;
    }

    .#{$namespace}u-#{$infix}justifyContentEvenly {
      justify-content: space-evenly !important;
    }
  }
}
