.#{$namespace}Tabs {
	display: flex;
	flex-wrap: wrap;
	margin: 0 var-get('spacing1');

	&--justify {
		justify-content: space-between;
	}

	&-header {
		border: 0;
		background: var-get('colorLight');
		color: var-get('colorDark');
		appearance: none;
		display: block;
		cursor: pointer;
		line-height: 1.25rem;
	  transition: all ease 0.2s;
		padding: 0 var-get('spacing1');
		text-decoration: none;

		@include screen-up(md) {
			font-size: 1.25rem;
		}

		&:focus {
			outline: none;
		}

		&:visited {
			color: inherit;
		}

		&:after {
      content: '';
      display: block;
      padding: 4px 0;
      border-bottom: solid 1px transparent;
    }

		@include screen-down(md) {
			order: initial;
			width: 100%;
			margin-right: 0;
			margin-top: 0.2rem;
		}
	}

	&--navigation &-header {
		width: auto;
		order: 1;
		margin-right: 0.2rem;
		margin-top: 0;
	}

	&-content {
		order: 99;
	  flex-grow: 1;
		width: 100%;
		display: none;
		padding: 0 var-get('spacing1');

		@include screen-down(md) {
			order: initial;
		}
	}

	&-header + &-content {
		margin-top: var-get('spacing3');
	}

	input[type="radio"] {
		display: none;
	}

	&-header.is-active,
	input[type="radio"]:checked + &-header {
		color: var-get('colorPrimary');

		&:after {
			border-color: currentColor;
		}
	}

	&-content.is-active,
	input[type="radio"]:checked + &-header + &-content {
		display: block;
	}
}
