.V2Modal {
  $modal-border-radius: 4px;
  $modal-backdrop: rgba(0, 0, 0, 0.7);
  $modal-backdrop-filter: blur(8px);
  $modal-padding-x: 8px;
  $modal-padding-y: 24px;
  $modal-content-padding: 24px;
  $modal-footer-padding-top: 16px;

  $modal-headline-color: var-get('colorLight');
  $modal-icon-padding-right: 16px;

  $modal-background: var-get('colorLight');
  $modal-dialog-width: 400px;
  $modal-dialog-width-mobile: 343px;
  $modal-dialog-width-wide: 590px;
  $modal-transition-duration: 0.2s;
  $modal-transition-timing-function: ease-in;
  $self: &;

  position: fixed;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  opacity: 0;
  transition: opacity $modal-transition-duration $modal-transition-timing-function;
  background: $modal-backdrop;
  backdrop-filter: $modal-backdrop-filter;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overscroll-behavior: contain;
  z-index: $olt-z-index-modal;
  display: flex;
  clip: rect(0, 0, 0, 0);

  &-dialog {
    background: $modal-background;
    width: $modal-dialog-width;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    transition: transform $modal-transition-duration $modal-transition-timing-function;
    transform: translateY(100%);
    z-index: $olt-z-index-modal-dialog;
    //pointer-events: auto;
    cursor: auto;
    border-radius: $modal-border-radius;

    @media (max-width: map-get($olt-v2-breakpoints, sm)) {
      width: $modal-dialog-width-mobile;
    }
  }

  &-header {
    @extend .u-H400;

    display: flex;
    padding: $modal-padding-x $modal-padding-y;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: $modal-headline-color;
    border-top-left-radius: $modal-border-radius;
    border-top-right-radius: $modal-border-radius;
    background: var-get('colorSuccess');
  }

  &-header:not(&-header--custom):before {
    @extend .Icon;

    @extend .Icon--large;

    @extend .Icon-feedback-check-filled.Icon--large;

    padding-right: $modal-icon-padding-right;
  }

  &--error &-header {
    background: var-get('colorError');

    &:before {
      @extend .Icon-feedback-warning-critical-filled.Icon--large;
    }
  }

  &--info &-header {
    background: var-get('colorInfo');

    &:before {
      @extend .Icon-feedback-info-filled.Icon--large;
    }
  }

  &--warning &-header {
    background: var-get('colorWarning');

    &:before {
      @extend .Icon-feedback-warning-medium-filled.Icon--large;
    }
  }

  &--success &-header {
    background: var-get('colorSuccess');

    &:before {
      @extend .Icon-feedback-check-filled.Icon--large;
    }
  }

  &--action &-header {
    background: var-get('colorPrimary');

    &:before {
      @extend .Icon-action-favorite-filled.Icon--large;
    }
  }

  &-header--custom:before {
    border: 1px solid red;
    content: '';

    & > i {
      padding-right: $modal-icon-padding-right;
    }
  }

  &-content {
    padding: $modal-content-padding;
    justify-content: center;
    text-align: left;
  }

  &-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: $modal-footer-padding-top;
    padding-right: $modal-content-padding;
    padding-bottom: $modal-content-padding;
    justify-content: flex-end;
    width: 100%;
  }

  &--wide &-dialog {
    width: $modal-dialog-width-wide;
  }

  @at-root {
    *[data-toggle='v2modal'] {
      display: none;
    }

    #{$self}.is-open,
    *[data-toggle='v2modal']:checked + label + #{$self} {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      clip: auto;

      #{$self}-dialog {
        transform: translateY(0);
      }

      #{$self}-content {
        width: 100%;
      }

      &#{$self}--fullscreen #{$self}-dialog {
        width: 100%;
        height: 100%;
      }
    }
  }

  // @media (max-width: 400px) {
  //   &.is-open &-dialog {
  //     transform: translateY(0);
  //   }

  //   &.is-open &-dialog &-close {
  //     color: #666;
  //     position: absolute;
  //     right: var-get('spacing3');
  //     top: var-get('spacing3');
  //     background: #fff;
  //     font-size: 16px; // icon size
  //     font-weight: bold;
  //     text-align: center;
  //     cursor: pointer;
  //   }
  // }

  // FIXME: Prevent nesting of elements
  // Make sure that nested elements won't break anything
  // &-content &-footer,
  // &-content &-header {
  //   padding: 0;
  // }

  // &-content &-header {
  //   padding-bottom: 1.25rem;
  // }

  // &-content &-footer {
  //   padding-top: 1.25rem;
  // }
}
