@import '../../core/functions/color';

.Sidebar {
  $self: &;
  $sidebar-z-index: 100;
  $sidebar-width: 200px;
  $sidebar-item-default-background: rgba(255, 255, 255, 0.1);
  $sidebar-item-active-background: rgba(255, 255, 255, 0.2);
  $sidebar-item-mobile-active-background: get-color('gray100');
  $sidebar-text-color: get-color('light');
  $sidebar-mobile-text-color: get-color('gray700');

  width: $sidebar-width;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  background-color: get-color('sidebar');
  padding: 18px 12px 12px 12px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  z-index: $sidebar-z-index;

  @include screen-down(sm) {
    width: 100%;
    background-color: get-color('light');
    padding: 14px 24px;
  }

  //
  // Mobile Actions
  //
  // Display the close button of the main sidebar
  //

  &-mobile-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 14px;

    @include screen-up(md) {
      display: none;
    }
  }

  //
  // Navigation
  //

  &-navigation-item {
    @extend .u-description;

    height: 32px;
    border-radius: 4px;
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 0 12px;
    transition: background-color 0.1s;

    & + & {
      margin-top: 2px;
    }

    &:before {
      @extend .Icon, .Icon--medium;

      opacity: 0.5;
      margin-right: 8px;
      transition: opacity 0.1s;

      @include screen-down(sm) {
        opacity: 1;
        color: get-color('gray500');
      }

      &:hover {
        opacity: 1;
      }
    }

    &.is-active {
      &:before {
        opacity: 1;

        @include screen-down(sm) {
          color: get-color('primary');
        }
      }

      & + #{$self}-subnavigation {
        display: block;
      }
    }
  }

  //
  // Sub Navigation
  //

  &-subnavigation {
    display: none;
    width: 100%;
    margin: 8px 0 16px 38px;
  }

  &-subnavigation-item {
    @extend .u-description;

    display: flex;
    padding-left: 12px;
    text-decoration: none;
    border-left: 2px solid transparent;

    & + & {
      margin-top: 8px;
    }

    &.is-active {
      font-weight: bold;
      border-left-color: currentColor;
    }
  }

  //
  // Separator
  //

  &-separator {
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 1px;
    margin: 24px 0;
    border: none;

    @include screen-down(sm) {
      background: get-color('gray300');
    }
  }

  //
  // Selector
  //

  &-selector {
    border-radius: 4px;
    padding: 8px 6px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    margin: 0;

    & + & {
      margin-top: 12px;
    }
  }

  //
  // Selector / Tenant
  //

  &-selector--tenant {
    display: flex;
    align-items: center;

    &:after {
      @extend .Icon, .Icon--small, .Icon-chevron-right:before;

      opacity: 0.5;
    }
  }

  &-selector--tenant-avatar {
    width: 24px;
    height: 24px;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    user-select: none;
    color: get-color('light');
    border: 1px solid currentColor;
    line-height: 100%;
    margin-right: 4px;
    flex-shrink: 0;

    @include screen-down(sm) {
      color: get-color('primary');
    }
  }

  &-selector--tenant-name {
    @extend .u-description;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
  }

  //
  // Selector / Property
  //

  &-selector--property-title {
    @extend .u-description;

    display: flex;
    align-items: center;

    &:before {
      @extend .Icon, .Icon--medium, .Icon-location:before;

      margin: 0 8px 2px 4px;
    }

    &:after {
      @extend .Icon, .Icon--small, .Icon-chevron-right:before;

      opacity: 0.5;
      margin-left: auto;
    }
  }

  &-selector--property-value {
    @extend .u-support;

    opacity: 0.6;
    line-height: 22px;
    padding: 4px 0 0 28px;
  }

  //
  // Selector / Filter
  //

  &-selector--filter {
    padding-left: 12px;
  }

  &-selector--filter-title {
    @extend .u-support;

    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    line-height: 22px;

    @include screen-down(sm) {
      color: get-color('gray700');
    }

    &:after {
      @extend .Icon, .Icon--small, .Icon-chevron-right:before;

      opacity: 0.5;
      margin-left: auto;
    }
  }

  &-selector--filter-filters {
    margin: 12px 0 0 0;
  }

  &-selector--filter-filters-filter {
    @extend .u-description;

    display: flex;
    align-items: center;

    & + & {
      margin-top: 8px;
    }

    &:before {
      @extend .Icon, .Icon--small;

      margin: 0 12px 2px 0;
    }
  }

  //
  // Secondary Sidebar
  //

  &--secondary {
    min-width: 300px;
    position: fixed;
    height: 100%;
    left: $sidebar-width;
    top: 0;
    background-color: get-color('light');
    box-shadow: 0 0 8px 0 rgba(13, 18, 44, 0);
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    z-index: $sidebar-z-index - 1;
    transition: transform 0.2s, box-shadow 0.1s;

    &.is-open {
      transform: translateX(0);
      box-shadow: 0 0 8px 0 rgba(13, 18, 44, 0.3);
    }

    @include screen-down(sm) {
      transform: translateX(+100%);
      width: 100%;
      left: 0;
      box-shadow: none;
      z-index: $sidebar-z-index + 1;

      &.is-hidden {
        transform: translateX(+100%);
        box-shadow: 0 0 8px rgba(13, 18, 44, 0);
      }
    }
  }

  &--secondary-mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 14px 24px;

    @include screen-up(md) {
      display: none;
    }
  }

  &--secondary-header {
    background: get-color('gray100');
    padding: 23px;
  }

  //
  // Colors
  //

  color: $sidebar-text-color;

  @include screen-down(sm) {
    color: $sidebar-mobile-text-color;
  }

  &-selector,
  &-navigation-item,
  &-subnavigation-item {
    color: $sidebar-text-color;

    @include screen-down(sm) {
      color: $sidebar-mobile-text-color;
    }
  }

  //
  // Backgrounds
  //

  &-selector {
    background-color: $sidebar-item-default-background;

    @include screen-down(sm) {
      background-color: $sidebar-item-mobile-active-background;
    }
  }

  &-selector,
  &-navigation-item {
    &.is-active {
      background-color: $sidebar-item-active-background;

      @include screen-down(sm) {
        background-color: $sidebar-item-mobile-active-background;
      }
    }

    &:hover {
      @include screen-up(md) {
        background-color: $sidebar-item-active-background;
      }
    }
  }

  @include screen-up(md) {
    // When the user hovers on the sidebar the currently active item transitions
    // to it's default background
    &:hover {
      #{$self}-navigation-item.is-active,
      #{$self}-selector.is-active {
        background-color: $sidebar-item-default-background;

        &:hover {
          background-color: $sidebar-item-active-background;
        }
      }
    }
  }
}
