


.Toggle {
  $knob-size: 20px;
  $track-height: 14px;
  $knob-overlap: 5px;
  $toggle-colors: (
    disabled:(
      active: (
        knob: #ffa365,
        track: #ffd0b3,
      ),
      inactive: (
        knob: var-get('gray100'),
        track: var-get('gray200'),
      ),
    ),
    default: (
      active: (
        knob: var-get('colorPrimary'),
        track: #ffa366,
      ),
      inactive: (
        knob: var-get('colorLight'),
        track: var-get('gray500'),
      ),
    ),
  );
  $self: &;

  display: flex;
  align-items: center;

  &--inline {
    display: inline-flex;
  }

  &-input {
    display: none;
  }

  &-input:checked + &-ui &-knob {
    left: calc(100% - #{$knob-size - $knob-overlap});
  }

  &-ui,
  &-label {
    cursor: pointer;
  }

  &-input:disabled {
    &-ui,
    &-label {
      cursor: disabled;
    }
  }

  &-ui {
    display: inline-block;
    position: relative;
    width: 34px;
    height: 14px;
    margin-left: $knob-overlap; // to equalize the knot overlap
    margin-right: $knob-overlap; // to equalize the knot overlap
  }

  &-knob {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    transition:
      all var-get('transitionDuration')
      var-get('transitionTimingFunction');
    position: absolute;
    top: #{($track-height - $knob-size) * 0.5 };
    left: #{-1 * $knob-overlap};
    height: $knob-size;
    width: $knob-size;
    border-radius: 50%;
  }

  &-track {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: #{$track-height * 0.5};
    width: 100%;
    height: 100%;
  }

  @mixin setColors ($self, $colors) {
    &:checked + #{$self}-ui #{$self}-knob {
      background-color: map-get(map-get($colors, 'active'), 'knob');
    }

    &:checked + #{$self}-ui #{$self}-track {
      background-color: map-get(map-get($colors, 'active'), 'track');
    }

    & + #{$self}-ui #{$self}-knob {
      background-color: map-get(map-get($colors, 'inactive'), 'knob');
    }

    & + #{$self}-ui #{$self}-track {
      background-color: map-get(map-get($colors, 'inactive'), 'track');
    }
  }

  #{$self}-input {
    @include setColors($self, map-get($toggle-colors, 'default'));
  }

  #{$self}-input:disabled {
    @include setColors($self, map-get($toggle-colors, 'disabled'));
  }

  &-label {
    margin-left: 5px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: $olt-checkbox-label-font-size;
    line-height: $olt-checkbox-label-line-height;
    user-select: none;
  }
}
