%grid-column {
  position: relative;
  width: 100%;
  min-height: 1px; // Prevent columns from collapsing when empty
}

@each $breakpoint in map-keys($breakpoints) {
  $infix: breakpoint-infix($breakpoint, $breakpoints);

  // Allow columns to stretch full width below their breakpoints
  @for $i from 1 through $grid-columns {
    .#{$namespace}u-#{$infix}gridColumn#{$i} {
      @extend %grid-column;
    }
  }
  .#{$namespace}u-#{$infix}gridColumn {
    @extend %grid-column;
  }

  .#{$namespace}u-#{$infix}gridColumnAuto {
    @extend %grid-column;
  }

  @include screen-up($breakpoint, $breakpoints) {
    .#{$namespace}u-#{$infix}gridColumn {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    .#{$namespace}u-#{$infix}gridColumnAuto {
      flex: 0 0 auto;
      width: auto;
      max-width: none; // Reset earlier grid tiers
    }

    @for $i from 1 through $grid-columns {
      .#{$namespace}u-#{$infix}gridColumnOffset#{$i} {
        @include make-col-offset($i, $grid-columns);
      }
    }

    @for $i from 1 through $grid-columns {
      .#{$namespace}u-#{$infix}gridColumn#{$i} {
        @include make-col($i, $grid-columns);
      }
    }
  }
}
