@mixin avatar-letter($size, $color, $bg-color:white) {
	// xl values
	$width: 104px;
	$height: 104px;
	$border-size: 8px;
	$font-size: 64px;
	$line-height: 104px;
	$brand-color: $color;
	$base-font-family:inherit;
	font-style: normal;

	.c__letter {
	  position: relative;
	  bottom: -0.0295em;
	  left: -0.01em;
	}
	// override xl values for other sizes
	@if $size == 'm' {
	  $width: 32px;
	  $height: 32px;
	  $border-size: 2px;
	  $font-size: 16px;
	  $line-height: 32px;
	}

	width: $width;
	height: $height;
	border: solid $brand-color $border-size;
	font-size: $font-size;
	line-height: $line-height;
	background-color: $bg-color;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1000px;
	user-select: none;
	font-family: $base-font-family;
	font-weight: bold;
	color: $brand-color;
	transition: box-shadow 0.2s ease-out 0s;
}

@mixin avatar-letter-box-shadow-hover () {
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
}

@mixin avatar-letter-box-shadow-active () {
	box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
}