.V2Button {
  $button-colors: (
    'primary': (
      'default': (
        'light': (
          'bg': (
            'normal': var-get('colorPrimary'),
            'hover': #ff944d,
            'press': #cf5509,
            'progress': var-get('colorPrimary'),
            'disabled': var-get('gray100'),
          ),
          'border': (),
          'font': (
            'normal': var-get('colorLight'),
          ),
        ),
        'dark': (
          'bg': (),
          'border': (),
          'font': (),
        ),
      ),
      'destructive': (
        'light': (
          'bg': (
            'normal': var-get('colorError'),
            'hover': #fd8a85,
            'press': #cc4a49,
            'progress': #fd8a85,
          ),
          'font': (
            'normal': var-get('colorLight'),
          ),
        ),
        'dark': (),
      ),
      'confirmative': (
        'light': (
          'bg': (
            'normal': var-get('colorSuccess'),
            'hover': #4dd25e,
            'press': #039b1e,
            'progress': #4dd25e,
          ),
          'font': (
            'normal': var-get('colorLight'),
          ),
        ),
        'dark': (),
      ),
      'disabled': (
        'light': (
          'bg': (
            'normal': var-get('gray100'),
          ),
          'font': (
            'normal': var-get('gray500'),
          ),
        ),
        'dark': (
          'bg': (
            'normal': var-get('gray800'),
          ),
          'font': (
            'normal': var-get('gray600'),
          ),
        ),
      ),
    ),
    'secondary': (
      'default': (
        'light': (
          'bg': (
            'normal': var-get('colorLight'),
            'hover': var-get('colorSecondary'),
            'press': #3d4156,
            'progress': var-get('colorSecondary'),
          ),
          'border': (
            'normal': var-get('colorSecondary'),
          ),
          'font': (
            'normal': var-get('colorSecondary'),
            'hover': var-get('colorLight'),
            'press': var-get('colorLight'),
            'progress': var-get('colorLight'),
          ),
        ),
        'dark': (
          'bg': (
            'normal': var-get('colorDark'),
            'hover': var-get('colorLight'),
            'press': #b7b8c0,
            'progress': var-get('colorLight'),
          ),
          'border': (
            'normal': var-get('colorLight'),
          ),
          'font': (
            'normal': var-get('colorLight'),
            'hover': var-get('colorSecondary'),
            'press': var-get('colorSecondary'),
            'progress': var-get('colorSecondary'),
          ),
        ),
      ),
      'confirmative': (
        'light': (
          'bg': (
            'normal': var-get('colorLight'),
            'hover': var-get('colorSuccess'),
            'press': #049c1e,
            'progress': var-get('colorSuccess'),
          ),
          'font': (
            'normal': var-get('colorSuccess'),
            'hover': var-get('colorLight'),
            'press': var-get('colorLight'),
            'progress': var-get('colorLight'),
          ),
          'border': (
            'normal': var-get('colorSuccess'),
          ),
        ),
        'dark': (
          'bg': (
            'normal': var-get('colorDark'),
            'hover': var-get('colorSuccess'),
            'press': #049c1e,
            'progress': var-get('colorSuccess'),
          ),
          'font': (
            'normal': var-get('colorSuccess'),
            'hover': var-get('colorLight'),
            'press': var-get('colorLight'),
            'progress': var-get('colorLight'),
          ),
          'border': (
            'normal': var-get('colorSuccess'),
          ),
        ),
      ),
      'destructive': (
        'light': (
          'bg': (
            'normal': var-get('colorLight'),
            'hover': var-get('colorError'),
            'press': #cc4a49,
            'progress': var-get('colorError'),
          ),
          'border': (
            'normal': var-get('colorError'),
          ),
          'font': (
            'normal': var-get('colorError'),
            'hover': var-get('colorLight'),
            'press': var-get('colorLight'),
          ),
        ),
        'dark': (
          'bg': (
            'normal': var-get('colorDark'),
            'hover': var-get('colorError'),
            'press': #cc4a49,
            'progress': var-get('colorError'),
          ),
          'border': (
            'normal': var-get('colorError'),
          ),
          'font': (
            'normal': var-get('colorError'),
            'hover': var-get('colorLight'),
            'press': var-get('colorLight'),
          ),
        ),
      ),
      'disabled': (
        'light': (
          'bg': (
            'normal': var-get('colorLight'),
          ),
          'border': (
            'normal': #d0d1d3,
          ),
          'font': (
            'normal': #d0d1d3,
          ),
        ),
        'dark': (
          'bg': (
            'normal': var-get('colorDark'),
          ),
          'border': (
            'normal': var-get('gray600'),
          ),
          'font': (
            'normal': var-get('gray600'),
          ),
        ),
      ),
    ),
    'tertiary': (
      'action': (
        'light': (
          'bg': (
            'normal': transparent,
            'hover': #ffefe5,
            'press': #ffd1b2,
            'progress': transparent,
          ),
          'border': (
            'normal': transparent,
          ),
          'font': (
            'normal': var-get('colorPrimary'),
          ),
        ),
        'dark': (
          'bg': (
            'normal': transparent,
            'hover': #4d1f00,
            'press': #803300,
            'progress': transparent,
          ),
          'border': (
            'normal': transparent,
          ),
          'font': (
            'normal': var-get('colorPrimary'),
          ),
        ),
      ),
      'confirmative': (
        'light': (
          'bg': (
            'normal': transparent,
            'hover': #f6f7f9,
            'press': #ccf2d1,
            'progress': transparent,
          ),
          'border': (
            'normal': transparent,
          ),
          'font': (
            'normal': var-get('colorSuccess'),
          ),
        ),
        'dark': (
          'bg': (
            'normal': transparent,
            'hover': #2f2f30,
            'press': #013908,
            'progress': transparent,
          ),
          'border': (
            'normal': transparent,
          ),
          'font': (
            'normal': var-get('colorSuccess'),
          ),
        ),
      ),
      'destructive': (
        'light': (
          'bg': (
            'normal': transparent,
            'hover': #f6f7f9,
            'press': #ffdedc,
            'progress': transparent,
          ),
          'border': (
            'normal': transparent,
          ),
          'font': (
            'normal': var-get('colorError'),
          ),
        ),
        'dark': (
          'bg': (
            'normal': transparent,
            'hover': #2f2f30,
            'press': #4c1b19,
            'progress': transparent,
          ),
          'border': (
            'normal': transparent,
          ),
          'font': (
            'normal': var-get('colorError'),
          ),
        ),
      ),
      'default': (
        'light': (
          'bg': (
            'normal': transparent,
            'hover': #f6f7f9,
            'press': #e4e4e5,
            'progress': transparent,
          ),
          'border': (
            'normal': transparent,
          ),
          'font': (
            'normal': var-get('gray500'),
          ),
        ),
        'dark': (
          'bg': (
            'normal': transparent,
            'hover': #2f2f30,
            'press': #434344,
            'progress': transparent,
          ),
          'border': (
            'normal': transparent,
          ),
          'font': (
            'normal': var-get('gray500'),
          ),
        ),
      ),
      'disabled': (
        'light': (
          'bg': (
            'normal': transparent,
          ),
          'font': (
            'normal': var-get('gray300'),
          ),
        ),
        'dark': (
          'bg': (
            'normal': transparent,
          ),
          'font': (
            'normal': var-get('gray600'),
          ),
        ),
      ),
    ),
  );

  /**
  * Returns the nested value specified by `$path` inside of `$object`.
  * `get-nested-value(a b, (a: (b: 1))) => 1`
  *
  **/
  @function get-nested-value($path, $object: $button-colors) {
    @if not $object {
      @return $object;
    }

    @if length($path) == 0 {
      @return $object;
    }

    $p: nth($path, 1);
    $tail: remove-nth($path, 1);
    $next: map-get($object, $p);

    @return get-nested-value($tail, $next);
  }

  @function button-get-bg-value($base, $state, $theme) {
    $val: get-nested-value(join($base, $theme 'bg' $state));

    @if ($val) {
      @return $val;
    }

    @return get-nested-value(join($base, $theme 'bg' 'normal'));
  }

  @function button-get-bg-with-fallback($base, $state, $theme) {
    @if $theme == 'dark' {
      $val: button-get-bg-value($base, $state, 'dark');

      @if ($val) {
        @return $val;
      }
    }

    @return button-get-bg-value($base, $state, 'light');
  }

  @function button-get-font-value($base, $state, $theme) {
    $val: get-nested-value(join($base, $theme 'font' $state));

    @if ($val) {
      @return $val;
    }

    @return get-nested-value(join($base, $theme 'font' 'normal'));
  }

  @function button-get-font-with-fallback($base, $state, $theme) {
    @if $theme == 'dark' {
      $val: button-get-font-value($base, $state, 'dark');

      @if ($val) {
        @return $val;
      }
    }

    @return button-get-font-value($base, $state, 'light');
  }

  @function button-get-border-value($base, $state, $theme) {
    $val: get-nested-value(join($base, $theme 'border' $state));

    @if ($val) {
      @return $val;
    }
    $val: get-nested-value(join($base, $theme 'bg' $state));

    @if ($val) {
      @return $val;
    }

    @return get-nested-value(join($base, $theme 'bg' 'normal'));
  }

  @function button-get-border-with-fallback($base, $state, $theme) {
    @if $theme == 'dark' {
      $val: button-get-border-value($base, $state, 'dark');

      @if ($val) {
        @return $val;
      }
    }

    @return button-get-border-value($base, $state, 'light');
  }

  @function not-any-selector($modifiers, $self) {
    $res: '';

    @each $m in $modifiers {
      $res: '#{$res}:not(#{$self}--#{$m})';
    }

    @return $res;
  }

  @mixin button-set-state-defaults($self, $emphasis, $theme, $type, $state) {
    $borderColor: button-get-border-with-fallback(
      $emphasis $type,
      $state,
      $theme
    );

    @if ($theme == 'dark') {
      box-shadow: 0 0 0.5px 0 $borderColor, 0 0 0.5px $borderColor;
    }

    background: button-get-bg-with-fallback($emphasis $type, $state, $theme);
    border-color: $borderColor;
    color: button-get-font-with-fallback($emphasis $type, $state, $theme);
  }

  @mixin button-type($self, $emphasis, $theme, $type) {
    &:not(:disabled) {
      @include button-set-state-defaults(
        $self,
        $emphasis,
        $theme,
        $type,
        'normal'
      );

      &:hover {
        @include button-set-state-defaults(
          $self,
          $emphasis,
          $theme,
          $type,
          'hover'
        );
      }

      &:active {
        @include button-set-state-defaults(
          $self,
          $emphasis,
          $theme,
          $type,
          'press'
        );
      }
    }
  }

  @mixin button-theme($self, $emphasis, $theme) {
    &:disabled {
      user-select: none;
      cursor: default;

      @include button-set-state-defaults($self, $emphasis, $theme, 'disabled', 'normal');
    }
    $types-base: ('default' 'destructive' 'confirmative');
    $types: if(
      $emphasis == 'tertiary',
      append($types-base, 'action'),
      $types-base
    );

    &#{not-any-selector($types, $self)} {
      @include button-type($self, $emphasis, $theme, 'default');
    }

    @each $type in $types {
      &#{$self}--#{$type} {
        @include button-type($self, $emphasis, $theme, $type);
      }
    }
  }

  @mixin button-emphasis($self, $emphasis) {
    $themes: ('light', 'dark');

    // set default if no other style is set
    &#{not-any-selector($themes, $self)} {
      @include button-theme($self, $emphasis, 'light');
    }

    @each $theme in ('light' 'dark') {
      &#{$self}--#{$theme} {
        @include button-theme($self, $emphasis, $theme);
      }
    }
  }

  $button-padding-x: 32px;
  $pagination-button-padding-x: 16px;
  $button-padding-y: 0;
  $button-border-color: var-get('borderColor');
  $button-background: var-get('borderColor');
  $button-border-width: 1px; // var-get('borderWidth');
  $button-color: var-get('colorDark');
  $button-pending-opacity: 0.4;
  $button-font-size: 14px;
  $button-line-height: 18px;
  $button-pending-dark: rgba(
    #000,
    $button-pending-opacity
  ); // TODO: Hardcode button-pending-color for the sake of css variables
  $button-pending-light: rgba(
    #fff,
    $button-pending-opacity
  ); // TODO: Hardcode button-pending-color for the sake of css variables
  $self: &;

  position: relative;
  background: none;
  height: 36px;
  border-style: solid;
  vertical-align: middle;
  line-height: $button-line-height;
  border-width: $button-border-width;
  border-radius: $olt-button-border-radius;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-decoration: none;
  font-size: $button-font-size;
  cursor: pointer;
  transition: all 300ms;
  -webkit-appearance: none;
  color: $button-color;
  padding: $button-padding-y $button-padding-x;

  $emphases: ('primary' 'secondary' 'tertiary' 'pagination-next' 'pagination-prev');
  // set default if no other emphasis is set
  &#{not-any-selector($emphases, $self)} {
    @include button-emphasis($self, 'primary');
  }

  &--pagination-next {
    @include button-emphasis($self, 'secondary');

    padding: $button-padding-y $pagination-button-padding-x;
    flex-direction: row-reverse;

    &:before {
      @extend .Icon;

      @extend .Icon-arrows-chevron-right.Icon--small;

      margin-left: 4px;
    }
  }

  &--pagination-prev {
    @include button-emphasis($self, 'secondary');

    padding: $button-padding-y $pagination-button-padding-x;

    &:before {
      @extend .Icon;

      @extend .Icon-arrows-chevron-left.Icon--small;

      margin-right: 4px;
    }
  }

  @each $emphasis in $emphases {
    &#{$self}--#{$emphasis} {
      @include button-emphasis($self, $emphasis);
    }
  }

  &-icon-left,
  &-icon-right {
    &:before {
      @include icon-font-olt;
    }
  }

  &-icon-left:before {
    margin-right: 2px;
  }

  &-icon-right {
    flex-direction: row-reverse;

    &:before {
      margin-left: 2px;
    }
  }
}
