.Link {
  $link-decoration: none;

  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  text-decoration: $link-decoration;
  background-color: transparent;
  border: 0;
  appearance: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;

  &,
  &:link,
  &:visited {
    color: get-color('primary');
  }

  &:hover,
  &:focus {
    filter: brightness(90%);
  }

  &:focus {
    outline: none;
  }
}
