.#{$namespace}Link {
  $link-color: var-get('colorPrimary');
  $link-decoration: none;
  $link-hover-contrast: var-get('linkHoverContrast');

  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
  text-decoration: $link-decoration;
  background-color: transparent;
  border: 0;
  appearance: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;

  @include contextual-colors();

  &,
  &:link,
  &:visited {
    color: $link-color;
  }

  &:hover,
  &:focus {
    filter: brightness(calc(100% - #{$link-hover-contrast)}));
  }

  &:focus {
    outline: none;
  }
}
