@font-face {
    font-family: 'PT Sans';
    src: url('./fonts/PTSans-BoldItalic.woff2') format('woff2'),
        url('./fonts/PTSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('./fonts/PTSans-Regular.woff2') format('woff2'),
        url('./fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('./fonts/PTSans-Bold.woff2') format('woff2'),
        url('./fonts/PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('./fonts/OverpassMono-Light.woff2') format('woff2'),
        url('./fonts/OverpassMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('./fonts/OverpassMono-Bold.woff2') format('woff2'),
        url('./fonts/OverpassMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('./fonts/OverpassMono-Regular.woff2') format('woff2'),
        url('./fonts/OverpassMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass Mono';
    src: url('./fonts/OverpassMono-SemiBold.woff2') format('woff2'),
        url('./fonts/OverpassMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}