$colors: get-colors();

@each $breakpoint in map-keys(screen-get()) {
  $infix: screen-infix($breakpoint);

  @include screen-up($breakpoint) {
    @each $name in $colors {
      .u-#{$infix}color#{string-capitalize($name)} {
        color: get-color($name) !important;
      }
    }
  }
}
