@each $breakpoint in map-keys(screen-get()) {
  $infix: screen-infix($breakpoint);

  @include screen-up($breakpoint) {
    // Colors
    @each $name, $value in var-get('color') {
      .u-#{$infix}color#{string-capitalize($name)} {
        color: $value !important;
      }
    }

    // Grays
    @each $name, $value in var-get('gray') {
      .u-#{$infix}colorGray#{string-capitalize($name)} {
        color: $value !important;
      }
    }
  }
}
