@mixin control-placeholder-style($opacity: 1) {
  @extend .u-content;

  color: $get-color('gray500');
  opacity: $opacity;
  border: 1px solid red;
}

@mixin control-placeholder($args...) {
  *:-moz-placeholder {
    @include control-placeholder-style($args...);
  }

  *::-moz-placeholder {
    @include control-placeholder-style($args...);
  }

  *::-webkit-input-placeholder {
    @include control-placeholder-style($args...);
  }

  :-moz-placeholder {
    @include control-placeholder-style($args...);
  }

  ::-moz-placeholder {
    @include control-placeholder-style($args...);
  }

  ::-webkit-input-placeholder {
    @include control-placeholder-style($args...);
  }

  &:-moz-placeholder {
    @include control-placeholder-style($args...);
  }

  &::-moz-placeholder {
    @include control-placeholder-style($args...);
  }

  &::-webkit-input-placeholder {
    @include control-placeholder-style($args...);
  }
}
