.olt-container {
  margin: 0 auto;
  padding: {
    left: 24px;
    right: 24px;
  }
  @include screen('extra-large') {
    max-width: 1600px;
  }
  @include screen('desktop') {
    max-width: 1280px;
  }
  @include screen('tablet') {
    max-width: 768px;
  }
  @include screen('mobile') {
    max-width: 360px;
    padding: {
      left: 16px;
      right: 16px;
    }
  }
  &-small {
    max-width: 632px;
    margin: 0 auto;
    padding: {
      left: 16px;
      right: 16px;
    }
  }
}
