.show {
    &-for-desktop-only {
        @include screen('mobile') {
            display: none;
        }
        @include screen('tablet') {
            display: none;
        }
    }
    &-for-mobile-only {
        @include screen('desktop') {
            display: none;
        }
        @include screen('tablet') {
            display: none;
        }
    }
}

.hide {
    &-for-mobile-only {
        @include screen('mobile') {
            display: none;
        }
    }
    &-for-desktop-only {
        @include screen('desktop') {
            display: none;
        }
    }
}