.Card {

  $card-padding-x: 1.5rem !default;
  $card-padding-y: 1rem !default;
  $card-border-radius: 0.25rem !default;
  $card-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24) !default;

  $self: &;

  border: 0; // reset border for buttons
  box-shadow: $card-box-shadow;
  border-radius: $card-border-radius;
  text-align: left;
  transition: box-shadow 150ms;
  background: var-get('colorLight');
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  position: relative;
  padding: 0;
  align-items: unset;
  appearance: none;

  @include contextual-colors();

  &[href],
  &:link {
    text-decoration: none;

    &:visited,
    &:hover,
    &:focus {
      color: inherit;
    }
  }

  &-header {
    padding: $card-padding-y $card-padding-x;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr;
    grid-gap: calc(var(--spacer) / 4);
  }

  &-content {
    padding: $card-padding-y $card-padding-x;
  }

  &-header + &-content {
    padding-top: 0;
  }

  &-title {
    font-size: $olt-card-title-font-size;
    line-height: $olt-card-title-line-height;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 1;
  }

  &-description {
    font-size: var-get('fontSizeSmall');
    font-weight: var-get('fontWeightRegular');
    margin: 0;
    grid-column: 1;
    grid-row: 2 / 2;
  }

  &:not(#{$self}--primary):not(#{$self}--secondary) &-description {
    color: var-get('gray600');
  }

  &-action {
    display: inline-block;
    margin-left: auto;
    cursor: pointer;
    padding-top: 0.1875rem;
    float: right;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 160px;

    &:first-child {
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
    }
  }

  &.is-disabled {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }

  &-icon {
    margin-left: auto;
    vertical-align: baseline;
  }

  &--selectable {
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      box-shadow:
        0 14px 28px 0 rgba(0, 0, 0, 0.25),
        0 10px 10px 0 rgba(0, 0, 0, 0.22);
    }

    &:active {
      box-shadow:
        0 3px 6px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px 0 rgba(0, 0, 0, 0.24);
    }
  }
}
