.Icon {
  $icon-sizes: (
    small: 12px,
    medium: 16px,
    large: 24px,
  ) !default;

  display: inline-flex;
  vertical-align: middle;

  &:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: '';
  }

  // The $icon variable is defined in our `webpack.config.js`. It stores all
  // files from `/src/icons/` directory.
  @each $file in $icons {
    $suffix: '';
    $name: str-slice($file, 1, -5);

    @if _ends-with($file, '24.svg') {
      $suffix: '#{&}--large';
      $name: str-slice($name, 1, -4);
    } @else if _ends-with($file, '16.svg') {
      $suffix: '';
      $name: str-slice($name, 1, -4);
    } @else if _ends-with($file, '12.svg') {
      $suffix: '#{&}--small';
      $name: str-slice($name, 1, -4);
    } @else {
      @warn ( "We can't find the icon size: #{$file}");
    }

    &-#{$name}#{$suffix}:before {
      font-icon: url('../../icons/#{$file}');
    }
  }

  @each $name, $value in $icon-sizes {
    &--#{$name} {
      font-size: $value;
    }
  }
}
