@mixin createFloatingList($size, $justifyEnd) {
  margin-top: #{$size * -1px};
  $horizontalMargin: if($justifyEnd, 'margin-right', 'margin-left');

  #{$horizontalMargin}: #{$size * -1px};

  // avoid margin-collapse
  display: inline-flex;
  vertical-align: top;
  // end avoid margin collapse

  flex-direction: row;
  justify-content: if($justifyEnd, flex-end, flex-start);
  flex-wrap: wrap;

  > * {
    margin-top: $size * 1px;
    #{$horizontalMargin}: $size * 1px;
  }
}

.FloatingList {
  $self: &;

  &:not(&--justifyEnd) &-items {
    // a default list
    @include createFloatingList(4, false);
  }

  &--justifyEnd &-items {
    // a default list
    @include createFloatingList(4, true);
  }

  @each $space in $olt-spaces {
    &:not(#{$self}--justifyEnd)#{$self}--gap#{$space} #{$self}-items {
      @include createFloatingList($space, false);
    }

    #{$self}--justifyEnd#{$self}--gap#{$space} #{$self}-items {
      @include createFloatingList($space, true);
    }
  }
}
