.Modal {
  $modal-border-radius: 4px;
  $modal-backdrop: rgba(0, 0, 0, 0.7);
  $modal-backdrop-filter: blur(8px);
  $modal-header-padding-top: 10px;
  $modal-header-padding-bottom: 6px;
  $modal-header-padding-y: 24px;
  $modal-content-padding: 24px;
  $modal-footer-padding-top: 16px;
  $modal-footer-button-padding: 8px;

  $modal-headline-color: get-color('light');
  $modal-icon-padding-right: 16px;

  $modal-background: get-color('light');
  $modal-dialog-width: 400px;
  $modal-dialog-width-mobile: 343px;
  $modal-dialog-width-wide: 590px;
  $modal-transition-duration: 0.5s;
  $modal-transition-timing-function: ease;
  $self: &;

  @function not-any-selector($modifiers, $self) {
    $res: '';

    @each $m in $modifiers {
      $res: '#{$res}:not(#{$self}--#{$m})';
    }

    @return $res;
  }

  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: all $modal-transition-duration $modal-transition-timing-function;
  background: $modal-backdrop;
  backdrop-filter: $modal-backdrop-filter;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overscroll-behavior: contain;
  z-index: $olt-z-index-modal;
  // clip: rect(0, 0, 0, 0);
  pointer-events: none;

  &-dialog {
    max-height: 90%;
    width: $modal-dialog-width;
    background: $modal-background;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    transition:
      transform $modal-transition-duration
      $modal-transition-timing-function;
    transform: translateY(150%);
    z-index: $olt-z-index-modal-dialog;
    overflow: auto;
    cursor: auto;
    border-radius: $modal-border-radius;
    pointer-events: none;

    @media (max-width: map-get($olt-breakpoints, sm)) {
      width: $modal-dialog-width-mobile;
    }
  }

  &-header {
    @extend .u-H400;

    display: flex;
    padding: $modal-header-padding-y;
    padding-top: $modal-header-padding-top;
    padding-bottom: $modal-header-padding-bottom;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: $modal-headline-color;
    border-top-left-radius: $modal-border-radius;
    border-top-right-radius: $modal-border-radius;
    background: get-color('success');
  }

  &-header:not(&-header--custom):before {
    @extend .Icon;

    @extend .Icon--large;

    padding-right: $modal-icon-padding-right;
    margin-top: -2px;
  }

  &--critical &-header {
    background: get-color('error');

    &:before {
      @extend .Icon-warning-critical-filled.Icon--large;
    }
  }

  &--info &-header {
    background: get-color('info');

    &:before {
      @extend .Icon-info-filled.Icon--large;
    }
  }

  &--warning &-header {
    background: get-color('warning');

    &:before {
      @extend .Icon-warning-medium-filled.Icon--large;
    }
  }

  &--success &-header {
    background: get-color('success');

    &:before {
      @extend .Icon-check-filled.Icon--large;
    }
  }

  &--action &-header {
    background: get-color('primary');

    &:before {
      @extend .Icon-settings.Icon--large;
    }
  }

  $types: ('critical' 'info' 'warning' 'success' 'action');

  &#{not-any-selector($types, $self)} &-header:before {
    @extend .Icon-check-filled.Icon--large;
  }

  // remove icon for -header--custom modifier
  &-header--custom:before {
    content: '' !important;
  }

  &-header--custom > i {
    padding-right: $modal-icon-padding-right;
  }

  &-content {
    padding: $modal-content-padding;
    justify-content: center;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior: contain;
    flex-direction: column;
    flex: 1;
  }

  &-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: #{$modal-content-padding - $modal-footer-button-padding};
    padding-bottom: $modal-content-padding;
    padding-top: $modal-footer-padding-top;
    justify-content: flex-end;
    width: 100%;

    & > * {
      margin-left: $modal-footer-button-padding;
      margin-right: $modal-footer-button-padding;
    }
  }

  &--wide &-dialog {
    width: $modal-dialog-width-wide;
  }

  @at-root {
    *[data-toggle='modal'] {
      display: none;
    }

    #{$self}.is-open,
    *[data-toggle='modal']:checked + label + #{$self} {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      display: flex;
      // clip: auto;

      #{$self}-dialog {
        transform: translateY(0);
        pointer-events: all;
      }

      #{$self}-content {
        width: 100%;
      }

      &#{$self}--fullscreen #{$self}-dialog {
        width: 100%;
        height: 100%;
      }
    }
  }
}
