// TODO: Recheck what's possible today regarding styling native inputs. What about IE11?
.Checkbox {
  $self: &;

  display: flex;

  &--inline {
    display: inline-flex;
  }

  &-input {
    position: absolute;
    opacity: 0;

    &:checked + #{$self}-label,
    &:indeterminate + #{$self}-label {
      position: relative;
      cursor: pointer;
      padding: 0;

      &:before {
        background: var-get('colorPrimary');
        border-color: var-get('colorPrimary');
      }

      &:after {
        @extend .Icon:before;

        @extend .Icon-feedback-check-default.Icon--large:before;

        position: absolute;
        top: 1.5px;
        left: 1.5px;
        color: var-get('colorLight');
        z-index: 1;
        font-size: 1.2em; // icon-size
      }
    }

    &:checked + #{$self}--indeterminate#{$self}-label:after,
    &:indeterminate + #{$self}-label:after {
      @extend .Icon-feedback-check-default.Icon--large:before;
    }

    &:disabled + #{$self}-label {
      cursor: not-allowed;
    }

    &:disabled + #{$self}-label:before {
      border: $olt-control-border-width dashed $olt-control-disabled-color;
      background-color: transparent;
    }

    &:checked:disabled + #{$self}-label:before {
      background-color: $olt-control-disabled-color;
    }

    &:focus + &-label:before {
      box-shadow:
        0 2px 6px 0 rgba(0, 0, 0, 0.12),
        0 3px 6px 0 rgba(0, 0, 0, 0.24);
    }
  }

  &-label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin-bottom: $olt-control-spacer;
    font-size: $olt-checkbox-label-font-size;
    line-height: $olt-checkbox-label-line-height;
    user-select: none;

    &:before {
      content: '';
      margin-right: var-get('spacing1');
      display: inline-block;
      width: 1.25em;
      height: 1.25em;
      vertical-align: text-top;
      background: white;
      border: $olt-control-border-width solid $olt-control-border-color;
      border-radius: $olt-control-border-radius;
      transition:
        all var-get('transitionDuration')
        var-get('transitionTimingFunction');
    }
  }
}
