.olt-card {
    padding: $spacing-desktop-s $spacing-desktop-m;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.24);
    margin-bottom: $spacing-desktop-s;
    border-radius: 4px;
    min-height: 120px;
    position: relative;
    cursor: pointer;
    transition: box-shadow 150ms;
    background: $primary-08;
    display: flex;

    &__header {
        flex: 1 1 auto;
        .olt-card__headline {
            font-size: 20px;
            font-weight: bold;
            line-height: 28px;
            display: block;
        }
        .olt-card__subtitle {
            font-size: 12px;
            line-height: 20px;
            display: block;
            color: $primary-03;
        }
    }

    &__menu {
        flex: 0 0 auto;
    }

    &__actions {
        flex: 0 0 auto;
        text-align: right;
        margin-left: $spacing-desktop-s;

        .material-icons {
            font-size: 32px;
        }
    }

    &--small {
        min-height: 64px;
        height: 64px;

        .olt-card__header {
            .olt-card__headline {
                font-size: 24px;
                line-height: 32px;
                font-weight: normal;
            }
            .olt-card__subtitle {
                display: none;
            }
        }

        .olt-card__menu {
            display: none;
        }
    }

    &--header__bottom {
        padding-top: 72px;
        .olt-card__header {
            .olt-card__headline {
                font-size: 24px;
                line-height: 32px;
                font-weight: normal;
            }
            .olt-card__subtitle {
                display: none;
            }
        }

        .olt-card__menu {
            display: none;
        }
    }

    &--primary-01 {
        background: $primary-01;
        color: $primary-08;

        .olt-card__header {
            .olt-card__subtitle {
                color: $primary-06;
            }
        }
    }

    &:hover {
        box-shadow: 0 14px 28px 0 rgba(0,0,0,0.25), 0 10px 10px 0 rgba(0,0,0,0.22);
    }

    &:active {
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.24);
    }
}