.olt-card {
  $name: olt-card;
  $radius: 4px;
  $padding-x: $spacing-desktop-s;
  $padding-y: $spacing-desktop-m;
  $padding: $padding-x $padding-y;
  padding: $padding;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  border-radius: $radius;

  position: relative;
  text-align: left;
  transition: box-shadow 150ms;
  background: $primary-08;
  display: flex;
  flex-direction: column;
  width: 100%;

  &--no-padding {
    padding: 0;
  }

  // sub elements

  &-content {
    flex: 1 1 auto;
    &__content {
      flex-basis: 100%;
    }
  }

  &-header {
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;

    &__headline {
      font-size: 1.5rem;
      line-height: 2rem;
      display: block;
    }
    &__subtitle {
      font-size: 12px;
      line-height: 20px;
      display: block;
      color: $primary-03;
    }

    &__title-wrapper {
      display: flex;
      flex-direction: column;
    }
    &__action-wrapper {
      padding-top: 3px;
    }
  }

  &--teaser-small {
    min-height: 64px;
    height: 64px;

    .olt-card-header {
      &__headline {
        font-size: 24px;
        line-height: 32px;
        font-weight: normal;
      }
      &__subtitle {
        display: none;
      }
    }
  }

  &--teaser-large {
    padding-top: 72px;
    min-height: 120px;
    height: 120px;

    .olt-card-header__headline {
      font-size: 24px;
      line-height: 32px;
      font-weight: normal;
    }
    .olt-card-header__subtitle {
      display: none;
    }
  }

  &--teaser-stage {
    padding: 0;

    .#{$name} {
      &__stage {
        margin-bottom: $spacing-desktop-xs;

        > img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-height: 160px;
          border-top: {
            left-radius: $radius;
            right-radius: $radius;
          }
        }
      }

      &-header,
      &-content {
        padding: {
          left: $padding-x;
          right: $padding-x;
        }
      }
    }

    > *:last-child {
      padding-bottom: $padding-y;
    }
  }

  &--primary-01 {
    background: $primary-01;
    color: $primary-08;

    .olt-card-header {
      .olt-card-header__subtitle {
        color: $primary-06;
      }
    }
  }

  &--is-button {
    cursor: pointer;
    &:hover {
      box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25),
      0 10px 10px 0 rgba(0, 0, 0, 0.22);
    }

    &:active {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12),
      0 2px 4px 0 rgba(0, 0, 0, 0.24);
    }
  }

}

// tag type overwrites
button.olt-card {
  border-style: none;
}
