/* The container */
.checkbox--wrapper {
    display: inline-block;
    position: relative;
    padding-left: $spacing-desktop-s + $spacing-desktop-s;
    margin-bottom: $spacing-desktop-xs;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:disabled {
            cursor: default;
        }
    }

    /* Create a custom checkbox */
    .olt-checkbox--checked-icon {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: solid 2px $primary-03;
        border-radius: 2px;
        transition: border-color 150ms;
        
        &:after {
            content: "";
            position: absolute;
            left: 5px;
            top: 10px;
            width: 0px;
            height: 7px;
            border: solid transparent;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            transition: width 300ms, height 300ms, top 300ms;
        }
    }

    &:hover input ~ .olt-checkbox--checked-icon {
        border-color: $primary-04;
    }

    input:checked ~ .olt-checkbox--checked-icon {
        background-color: $primary-01;
        border-color: $primary-01;

        &.background--primary-02 {
            background-color: $primary-02;
            border-color: $primary-02;
        }

        &:after {
            border-color: $primary-08;
            width: 5px;
            height: 14px;
            top: -2px;
        }
    }

    input:disabled ~ .olt-checkbox--checked-icon {
        border: 2px dashed;
        background-color: transparent;
        border-color: $primary-05;
        cursor: default;
    }
}