@mixin olt-list-normalize($type: disc) {
  list-style: #{$type} outside;
  padding-left: 1.2rem;
  margin: 0;
  > * {
    display: list-item;
    line-height: 1.7;
  }
}

.olt-list {
  @include olt-list-normalize;

  // core type
  &-numeric {
    @include olt-list-normalize(decimal);

    > div {
      counter-increment: div;
    }
  }
}
