
.olt-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,40%);
    box-shadow: $box-shadow-deep;
    background: $primary-08;
    border-radius: 4px;
    padding: 36px;
    z-index: -1;
    opacity: 0;
    width: 150px;
    transition: z-index 0ms ease 350ms, opacity 300ms ease 100ms, width 200ms ease 200ms, transform 500ms ease-in-out 0ms;

    &--notification {
        max-width: 95%;
        min-height: 288px;
        padding-top: $spacing-desktop-s + 112px;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 112px;
            width: 64px;
            border-radius: 0 0 32px 32px;
            background: $notify;
        }

        .olt-modal--content {
            text-align: center;
            &::before {
                content: '';
                position: absolute;
                top: 59px;
                left: 50%;
                transform: translateX(-50%);
                width: 40px;
                height: 40px;
                background: url($info-icon);
                background-size: cover;
            }
        }

        .olt-modal--actions {
            text-align: center;
            margin-top: 40px;

            .olt-button {
                display: inline;

                &:first-child {
                    margin-right: $spacing-desktop-xs;
                    margin-bottom: $spacing-desktop-s;
                }
            }
        }
    }

    &--backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: rgba($primary-08, 0.7);
        opacity: 0; 
        transition: z-index 0ms ease 350ms, opacity 300ms ease 100ms;
    }

    &--content {
        display: none;
    }

    &--actions {
        display: none;
    }

    &.olt-modal--is-open {
        &.olt-modal {
            z-index: 1000;
            opacity: 1;
            transform: translate(-50%,-50%);
            transition: z-index 0ms ease 0ms, opacity 300ms ease 100ms, width 200ms ease 0ms, transform 500ms ease-in-out 0ms;

            &--notification {
                width: 440px;
                //transition: width 200ms ease 0ms;
            }
        }

        .olt-modal--content {
            display: block
        }

        .olt-modal--actions {
            display: block;
        }

        ~ .olt-modal--backdrop {
            opacity: 1;
            z-index: 999;
            transition: z-index 0ms ease 0ms, opacity 300ms ease 100ms;
        }
    }
}