$olt-navbar-color-bg: nth(map-get($colors, 'primary-02'), 1);
$olt-navbar-color-font: nth(map-get($colors, 'primary-02'), 2);
$olt-navbar-separator-color-bg: rgba(white, 0.4);

.olt-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $olt-navbar-color-bg;
  color: $olt-navbar-color-font;

  &__left {
    display: flex;
    justify-self: flex-start;
    align-self: stretch;
  }

  &__center {
    display: flex;
    align-self: stretch;
    justify-self: center;
    justify-content: center;

    @include screen('not mobile') {
      display: none;
    }
  }

  &__right {
    display: flex;
    align-self: stretch;
    justify-self: right;
    justify-content: center;
  }

  &__separator {
    width: 1px;
    background-color: $olt-navbar-separator-color-bg;
    height: 100%;
  }

  button.olt-navbar__item {
    border: none;
    background: none;
    text-align: left;
  }

  button.olt-navbar__item,
  &__item {
    font-size: 14px;
    line-height: 22px;
    display: flex;
    height: 100%;
    align-items: center;
    @include responsive-spacing-s('padding');

    &--is-active {
      background-color: rgba(white, 0.3);
    }
    &--is-button {
      text-decoration: none !important;
      color: $olt-navbar-color-font;

      cursor: pointer;
      &:hover {
        background-color: rgba(white, 0.2);
      }
    }
  }
}
