$olt-navbar-color-bg: nth(map-get($colors, 'primary-02'), 1);
$olt-navbar-color-font: nth(map-get($colors, 'primary-02'), 2);
$olt-navbar-separator-color-bg: rgba(white, 0.4);

$component:'olt-navbar';

.#{$component} {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 998;
  background-color: $olt-navbar-color-bg;
  color: $olt-navbar-color-font;
  height: $navigation-bar-height;

  &__left {
    display: flex;
    height:100%;
    flex: 1 1 0;
  }

  &__center {
    display: flex;
    justify-content: center;
    height:100%;
    flex: 1 1 0;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    height:100%;
    flex: 1 1 0;
  }

  &__separator {
    width: 1px;
    background-color: $olt-navbar-separator-color-bg;
    height: 100%;
  }

  &__item {
    border: none;
    background: none;
    text-align: left;
    padding:0;
    white-space:nowrap;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    height: 100%;
    align-items: center;

    @include responsive-spacing-s('padding-left');
    @include responsive-spacing-s('padding-right');


    &--is-active {
      background-color: rgba(white, 0.3);
    }
    &--is-button {
      text-decoration: none !important;
      color: $olt-navbar-color-font;

      cursor: pointer;
      &:hover {
        background-color: rgba(white, 0.2);
      }
    }
  }
}
