$olt-navbar-submenu-color-bg: nth(map-get($colors, 'primary-08'), 1);
$olt-navbar-submenu-color-font-active: nth(map-get($colors, 'primary-08'), 2);
$olt-navbar-submenu-color-font-hover: $olt-navbar-submenu-color-font-active;
$olt-navbar-submenu-color-font: rgba(
  $olt-navbar-submenu-color-font-active,
  0.7
);

.olt-navbar-submenu {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: $olt-navbar-submenu-color-bg;
  @include responsive-spacing-s('padding');

  transform: scaleY(1);
  transform-origin: 50% 0%;
  transition: opacity 0.2s linear, transform 0.2s linear;

  &--is-hidden {
    opacity: 0;
    transform: scaleY(0);
  }

  .olt-navbar-submenu__item {
    font-size: 12px;
    line-height: 20px;
    display: block;
    text-decoration: none !important;
    color: $olt-navbar-submenu-color-font;
    white-space: nowrap;
    &:not(:last-of-type) {
      @include responsive-spacing-s('margin-bottom');
    }

    cursor: pointer;

    &:hover {
      color: $olt-navbar-submenu-color-font-hover;
    }

    &--is-active {
      color: $olt-navbar-submenu-color-font-active;
    }
  }
}
