$olt-navdrawer-color-bg: nth(map-get($colors, 'primary-02'), 1);
$olt-navdrawer-color-font-active: nth(map-get($colors, 'primary-02'), 2);
$olt-navdrawer-color-font-hover: $olt-navdrawer-color-font-active;
$olt-navdrawer-color-font: rgba($olt-navdrawer-color-font-active, 0.7);

$olt-navdrawer-separator-color-bg: $olt-navdrawer-color-font;

@mixin navdrawer-item() {
  position: relative;
  display: flex;
  align-items: center;

  &--is-button {
    text-decoration: none !important;
    color: $olt-navdrawer-color-font;
    cursor: pointer;
    &:hover {
      color: $olt-navdrawer-color-font-hover;
    }
  }

  &--is-active {
    color: $olt-navdrawer-color-font-active;
    &:before {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      left: #{0 - 10px};
      content: '|';
    }
  }
}

.olt-navdrawer {
  @include responsive-spacing-xl('padding');
  width: 100%;
  background-color: $olt-navdrawer-color-bg;
  color: $olt-navdrawer-color-font;

  &__item,
  &__separator {
    &:not(:first-child) {
      margin-top: 40px;
    }
  }

  &__submenu {
    margin-top: 20px;
  }

  &__separator {
    height: 1px;
    background-color: $olt-navdrawer-separator-color-bg;
    width: 100%;
  }

  &__item {
    @include navdrawer-item();
    font-size: 14px;
    line-height: 22px;
  }

  &__submenu-item {
    @include navdrawer-item();
    font-size: 12px;
    line-height: 20px;
    &:not(:first-child) {
      @include responsive-spacing-s('margin-top');
    }
  }
}
