$olt-navdrawer-color-bg: nth(map-get($colors, 'primary-02'), 1);
$olt-navdrawer-color-font-active: nth(map-get($colors, 'primary-02'), 2);
$olt-navdrawer-color-font-hover: $olt-navdrawer-color-font-active;
$olt-navdrawer-color-font: rgba($olt-navdrawer-color-font-active, 0.7);

$olt-navdrawer-separator-color-bg: rgba($olt-navdrawer-color-font, 0.1);

@mixin navdrawer-item() {
  border: 0;
  background: none;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $olt-navdrawer-separator-color-bg;
  padding-bottom: 10px;
  font-size: 24px;
  line-height: 32px;

  &:not(:first-child) {
    margin-top: 16px;
  }

  &--secondary {
    font-size: 20px;
    line-height: 32px;
  }

  &--is-button {
    text-decoration: none !important;
    color: $olt-navdrawer-color-font;
    cursor: pointer;
    &:hover {
      color: $olt-navdrawer-color-font-hover;
    }
  }

  &--is-active {
    color: $olt-navdrawer-color-font-active;
  }
}

$component: 'olt-navdrawer';

.#{$component} {
  padding: 32px 64px;
  z-index: 1300;
  width: 100%;
  overflow-y: auto;

  position: absolute;
  // FIXME: ios fix required here
  height: calc(100% - #{$navigation-bar-height}px);
  top: #{$navigation-bar-height}px;

  background-color: $olt-navdrawer-color-bg;
  color: $olt-navdrawer-color-font;

  &__item {
    @include navdrawer-item();
  }
}
