.olt-select__wrapper {
    display: inline-block;
    min-width: 160px;
    position: relative;
    padding-top: 10px;

    .olt-select__label {
        display: block;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-30%);
        transition: all 300ms;
        color: $primary-04;
    }

    .olt-select {
        background: transparent;
        border: 0;
        border-radius: 0px;
        border-bottom: solid .075rem $primary-04;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 8px 0;
        min-width: 100%;
        font-size: 14px;
        cursor: pointer;

        &:focus {
            border-bottom-color: $primary-01 !important;

            & ~ .olt-select__label {
                color: $primary-01 !important;
                font-size: 12px;
                top: 0;
                transform: translateY(0);
            }
        }

        &:not(:empty) {
            border-bottom-color: $primary-04;

            & ~ .olt-select__label {
                color: $primary-04;
                font-size: 12px;
                top: 0;
                transform: translateY(0);
            }
        }

        &:disabled {
            border-bottom: dotted 1.5px $primary-05;

            & ~ .olt-select__label {
                color: $primary-05;
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        right: 4px;
        top: 57%;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $primary-03;
    }
}