@keyframes olt-snackbar-animation-open {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes olt-snackbar-animation-close {
  0% {
    transform: translateY(0%);
    visibility: visible;
  }
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
    transform: translateY(100%);
  }
}

.olt-snackbar {
  position: fixed;

  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background: $notify;
  color: #fff;
  animation-name: olt-snackbar-animation-close;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  padding-left: 48px;
  padding-right: 48px;
  line-height: 64px;
  z-index: 1200;
  display: flex;
  flex-wrap: wrap;

  .material-icons {
    display: inline-block;
    vertical-align: -12px;
    width: 36px;
    font-size: 36px;
    margin-right: $spacing-desktop-s;
  }

  &--is-open {
    animation-name: olt-snackbar-animation-open;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
  }

  &--hidden {
    opacity: 0;
  }

  &__content {
    flex: 1 1 auto;
  }

  &__actions {
    flex: 0 0 auto;
  }

  &--is-success {
    background: $success;
  }
}
