.olt-snackbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: $notify;
    color: #FFF;
    transform: translateY(100%);
    transition: transform 300ms cubic-bezier(.91,.01,.58,1);
    padding-left: 48px;
    line-height: 64px;
    z-index: 900;

    &--is-open {
        transform: translateY(0);
    }

    &:before {
        content: '';
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: url($info-icon);
    }

    &--actions {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
    }

    @include screen('tablet') {
        &:before {
            left: 16px;
        }
        &--actions {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}