.olt-stepper-nav {
  position: relative;
  z-index: 0;
  display: flex;
  .olt-stepper-nav__step-item {
    display: inline-block;
    z-index: 1;
    cursor: pointer;

    .olt-stepper-nav__step-item-inner {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .olt-fab {
      display: block;
      margin-bottom: 16px;
      line-height: 40px;
    }

    &--is-active {
      .olt-fab {
        color: $primary-01;
      }
    }

    &:hover {
      .olt-fab {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12),
          0 5px 12px 0 rgba(0, 0, 0, 0.24);
      }
    }

    &:active {
      .olt-fab {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12),
          0 2px 12px 0 rgba(0, 0, 0, 0.24);
      }
    }
  }
  &::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 20px;

    transform: translateY(-50%);
    width: 100%;
    border-bottom: solid 1px $primary-04;
    z-index: -1;
  }
}
