.olt-stepper {
    &__content {
        padding: 32px 0px 16px 0px;

        &-item {
            display: none;

            &--is-active {
                display: flex;
            }
        }
    }
}
