button.olt-tag {
    background: $primary-01;
    border: none;
}

.olt-tag {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    padding: {
        left: 8px;
        right: 8px;
    }
    font-family: 'Overpass Mono', monospace;
    text-transform: uppercase;
    background: $primary-01;
    color: #FFF;

    @include foreach-color('background', 'olt-tag-');
    @include foreach-color('border-color', 'olt-tag--bordered'){
        background: transparent;
        border: solid 1px;
    };

    &.olt-tag--has-trailing-icon {
        cursor: pointer;
        transition: all 300ms;
        .olt-tag--icon {
            margin-left: 8px;
        }

        .material-icons {
            display: inline;
            vertical-align: -3px;
            line-height: 24px;
            font-size: 16px;
        }

        &:hover {
            opacity: .87;
        }
    }
}