.olt-textfield__wrapper {
  display: inline-block;
  min-width: 160px;
  position: relative;
  padding-top: 10px;
  margin-bottom: 8px;

  &.is-fullwidth {
    width: 100%;
  }

  &.has-floating-label {
    margin-top: 8px;
  }

  textarea.olt-textfield__input {
    max-width: 100%;
    min-height: 33.5px;
  }

  .olt-textfield__input {
    position: relative;
    border: 0;
    border-bottom: solid 0.075rem $primary-04;
    padding: 8px 0;
    transition: all 150ms;
    min-width: 100%;
    font-size: 14px;
    background: transparent;
    z-index: 2;

    &-label {
      position: absolute;
      display: block;
      color: $primary-04;
      font-size: 12px;
      top: 0;
      transform: translateY(0);
      transition: all 200ms;
      z-index: 1;
      cursor: text;
    }

    &-info-right {
      position: absolute;
      top: 100%;
      right: 0;
      font-size: 12px;
      color: $primary-03;
    }

    &-info-left {
      position: absolute;
      top: 100%;
      left: 0;
      font-size: 12px;
      color: $primary-03;
    }

    &-error-message {
      position: absolute;
      top: 100%;
      left: 0;
      font-size: 12px;
      color: $alert;
      visibility: hidden;
    }

    &-icon {
      position: absolute;
      top: 12px;
      right: 0;
      font-size: 24px;
      color: $primary-04;
      z-index: 0;
    }

    &:placeholder-shown:not(:focus)::-webkit-input-placeholder,
    &:placeholder-shown:not(:focus)::-ms-input-placeholder,
    &:placeholder-shown:not(:focus)::placeholder {
      opacity: 0;
    }

    &:not(.has-floating-label) {
      border-bottom: solid 0.075rem $primary-04;
      & ~ .olt-textfield__input-label {
        display: block;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 0;
        color: $primary-04;
        transform: translateY(-30%);
        transition: all 200ms;
        z-index: 1;
      }
    }

    &:focus {
      border-bottom-color: $primary-01;
      caret-color: $primary-01;

      & ~ .olt-textfield__input-label {
        color: $primary-01;
      }
      & ~ .olt-textfield__input-icon {
        color: $primary-01;
      }
    }

    &:required {
      & ~ .olt-textfield__input-label {
        &:after {
          content: ' *';
        }
      }
    }

    &:disabled,
    &:read-only {
      border-bottom: 0.075rem dotted $primary-05;

      & ~ .olt-textfield__input-label {
        color: $primary-05;
      }

      & ~ .olt-textfield__input-icon {
        color: $primary-05;
      }
    }

    &.has-error
        //&:invalid -> causing initial error for required fields !!!
 {
      border-bottom-color: $alert;

      & ~ .olt-textfield__input-label {
        color: $alert;
      }

      & ~ .olt-textfield__input-error-message {
        visibility: visible;
      }

      & ~ .olt-textfield__input-icon {
        color: $alert;
      }
    }
  }

  &.has-icon .olt-textfield__input {
    padding-right: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--no-border-bottom {
    .olt-textfield__input {
      border-bottom: none;
      &.has-error,
      &:disabled,
      &:focus,
      &:not(.has-floating-label) {
        border-bottom: none;
      }
    }
  }
}
