.olt-textfield--wrapper {
    display: inline-block;
    min-width: 160px;
    position: relative;
    padding-top: 10px;
    margin-top: 8px;

    &.is-fullwidth {
       width: 100%; 
    }

    &.has-error-message,
    &.has-info {
        margin-bottom: 8px;
    }

    textarea.olt-textfield--input {
        max-width: 100%;
        min-height:33.5px;
    }

    .olt-textfield--input {
        border: 0;
        border-bottom: solid 1.5px $primary-04;
        padding: 8px 0;
        transition: all 150ms;
        min-width: 100%;
        font-size: 14px;
        background: transparent;
        z-index: 2;

        &__label {
            position: absolute;
            display: block;
            color: $primary-04;
            font-size: 12px;
            top: 0;
            transform: translateY(0);
            transition: all 200ms;
            z-index: 1;
            cursor: text;
        }

        &__info-right {
            position: absolute;
            top: 100%;
            right: 0;
            font-size: 12px;
            color: $primary-03;
        }

        &__info-left {
            position: absolute;
            top: 100%;
            left: 0;
            font-size: 12px;
            color: $primary-03;
        }

        &__error-message {
            position: absolute;
            top: 100%;
            left: 0;
            font-size: 12px;
            color: $alert;
            display: none;
        }

        &__icon {
            position: absolute;
            top: 12px;
            right: 0;
            font-size: 24px;
            color: $primary-04;
        }

        &:placeholder-shown:not(:focus)::-webkit-input-placeholder,
        &:placeholder-shown:not(:focus)::-ms-input-placeholder,
        &:placeholder-shown:not(:focus)::placeholder {
            opacity: 0;
        }

        &:not(.has-floating-label) {
            border-bottom: solid 1.5px $primary-04;
            & ~ .olt-textfield--input__label {
                display: block;
                font-size: 16px;
                position: absolute;
                top: 50%;
                left: 0;
                color: $primary-04;
                transform: translateY(-30%);
                transition: all 200ms;
                z-index: 1;
            }
        }

        &:focus {
            border-bottom-color: $primary-01;

            & ~ .olt-textfield--input__label {
                color: $primary-01;
            }
            & ~ .olt-textfield--input__icon {
                color: $primary-01;
            }
        }

        &:required {
            & ~ .olt-textfield--input__label {
                &:after {
                    content: ' *';
                }
            }
        }

        &:disabled {
            border-bottom: 1.5px dashed $primary-05;

            & ~ .olt-textfield--input__label {
                color: $primary-05;
            }

            & ~ .olt-textfield--input__icon {
                color: $primary-05;
            }
        }

        &.has-error
        //&:invalid -> causing initial error for required fields !!!
        {
            border-bottom-color: $alert;

            & ~ .olt-textfield--input__label {
                color: $alert;
            }

            & ~ .olt-textfield--input__error-message {
                display: block;
            }

            & ~ .olt-textfield--input__icon {
                color: $alert;
            }
        }
    }
}