.olt-toggle-button--group {
    display: block;
    .olt-toggle-button {
        background: transparent;
        border: solid 1px $primary-04;
        color: $primary-04;
        margin: 0;
        -webkit-appearance: none;
        padding: $spacing-desktop-xs 20px;
        font-size: 14px;
        line-height: 18px;
        margin-right: -5px;
        cursor: pointer;
        transition: color 150ms;

        &:first-child {
            border-radius: 18px 0 0 18px;
        }
        &:last-child {
            border-radius: 0 18px 18px 0;
            margin-right: 0px;
        }

        &__is-active {
            color: $primary-01;
        }
    }
}