/**
 * All colors
 */
$v2-radio-colors: (
  light: (
    default: var-get('gray800'),
    checked: var-get('colorPrimary'),
    disabled: var-get('gray500'),
  ),
  dark: (
    default: var-get('colorLight'),
    checked: var-get('colorPrimary'),
    disabled: #55586a,
  ),
);

.V2Radio {
  position: relative;
  display: flex;
  align-items: center;

  &--inline {
    display: inline-flex;
  }

  & + & {
    margin-top: 4px;
  }

  &--inline + &--inline {
    margin-top: 0;
  }

  input {
    display: none;
  }

  &-button {
    height: 20px;
    width: 20px;
    min-width: 20px;
    background-color: transparent;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      display: none;
      top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: currentColor;
    }
  }

  &-label {
    margin: 0 10px;
    cursor: pointer;
  }

  //
  // Effects
  //

  input:checked ~ &-button:after {
    display: block;
  }

  input:disabled ~ &-button,
  input:disabled ~ &-label {
    cursor: not-allowed;
  }

  //
  // Light theme colors
  //

  $theme-light-colors: map-get($v2-radio-colors, light);

  &-button,
  &-label {
    color: map-get($theme-light-colors, default);
  }

  input:checked ~ &-button {
    color: map-get($theme-light-colors, checked);
  }

  input:disabled ~ &-button,
  input:disabled ~ &-label {
    color: map-get($theme-light-colors, disabled);
  }

  //
  // Dark theme colors
  //

  $theme-dark-colors: map-get($v2-radio-colors, dark);

  .Theme-dark & &-button,
  .Theme-dark & &-label {
    color: map-get($theme-dark-colors, default);
  }

  .Theme-dark & input:checked ~ &-button {
    color: map-get($theme-dark-colors, checked);
  }

  .Theme-dark & input:disabled ~ &-button,
  .Theme-dark & input:disabled ~ &-label {
    color: map-get($theme-dark-colors, disabled);
  }
}
