.Navbar {
  $navbar-height: 56px;
  $navbar-padding-x: 1rem;
  $navbar-padding-y: 0;
  $navbar-backdrop: rgba(255, 255, 255, 0.7);
  $navbar-logo: './components/Navbar/lightelligence.svg';

  $self: &;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-height: $navbar-height;
  padding: $navbar-padding-y $navbar-padding-x;
  font-size: $olt-navbar-font-size;

  @include screen-down('lg') {
    font-size: $olt-navbar-font-size-lg-down;
  }

  @include contextual-colors();

  .Container & {
    padding-left: 0;
    padding-right: 0;
  }

  &-title {
    font-size: var-get('fontSizeLarger');
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    height: $navbar-height;
    padding-left: 0;
    padding-right: 0;

    a:link,
    a:visited,
    &:link,
    &:visited {
      color: currentColor;
      text-decoration: inherit;
    }

    &:empty:before {
      content: url(#{$navbar-logo});
      background-position: center;
      display: inline-block;
    }
  }

  *[data-toggle='navbar'] {
    display: none;
  }

  > &-title {
    order: 1;
    display: none;
    padding-left: 0;
    padding-right: 0;
  }

  &-toggle {
    order: 2;

    @include control();

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: transparent;
    margin-left: auto;

    &:after {
      @extend .Icon:before;

      content: 'menu';
      font-size: 2.25rem; // icon size
    }

    &:before {
      cursor: default;
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $navbar-backdrop;
      // make sure that the backdrop is below the content,
      // having both elements (backdrop + content) on z-index 1000 causes the backdrop to be rendered above the content on firefox (not chrome)
      z-index: $olt-z-index-navbar-backdrop;
      display: none;
    }

    &:focus {
      outline: none;
    }
  }

  &-content {
    position: fixed;
    z-index: $olt-z-index-navbar-content;
    left: 0;
    top: 0;
    bottom: 0;
    width: auto;
    min-width: 280px;
    transform: translateX(-100%);
    transition: all var-get('transitionDuration') var-get('transitionTimingFunction');
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    background: inherit;

    > * {
      width: 100%;
    }

    > .Menu {
      @extend .Menu--dark;
    }
  }

  &.is-open &-toggle,
  input[data-toggle]:checked + &-toggle {
    &:before {
      display: block;
    }
  }

  &.is-open &-content,
  input[data-toggle]:checked ~ &-content {
    transform: translateX(0);
  }

  &.is-open &-content &-title,
  input[data-toggle]:checked ~ &-content &-title {
    padding-left: $navbar-padding-x;
    padding-right: $navbar-padding-y;
  }

  @include screen-down(lg) {
    .Menu.Menu--sub {
      font-size: inherit;
      background: inherit;

      > .Menu-item {
        > .Menu-link {
          color: var-get('colorLight');

          &:link,
          &:visited {
            color: var-get('colorLight');
          }

          &:hover,
          &:focus {
            color: var-get('colorPrimary');
          }

          &.is-active {
            color: var-get('colorPrimary');
          }
        }
      }
    }

    .Dropdown-content {
      background: inherit;
    }
  }

  @include screen-up(xl) {
    align-items: stretch;

    &-toggle {
      display: none;
    }

    &-title {
      display: none;
    }

    &-content {
      padding: 0;
      position: static;
      transform: translateX(0);
      flex-direction: row;
      flex-basis: 100%;
      flex-wrap: nowrap;
      align-items: stretch;
      justify-content: space-between;
      transition: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      &-title {
        display: inline-block;
      }

      > * {
        width: auto;
        flex: 0 0 auto;
        display: inline-flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        align-items: center;

        &:first-child {
          margin-left: 0;
          margin-right: auto;
        }

        &:last-child {
          margin-left: auto;
          margin-right: 0;
        }
      }

      > .Menu {
        display: flex;
        flex-direction: row;
        align-items: stretch;
      }
    }
  }
}
