@each $breakpoint in map-keys(screen-get()) {
  $infix: screen-infix($breakpoint);

  @include screen-up($breakpoint) {
    .u-#{$infix}displayNone { display: none !important; }
    .u-#{$infix}displayInline { display: inline !important; }
    .u-#{$infix}displayInlineBlock { display: inline-block !important; }
    .u-#{$infix}displayBlock { display: block !important; }
    .u-#{$infix}displayTable { display: table !important; }
    .u-#{$infix}displayTableRow { display: table-row !important; }
    .u-#{$infix}displayTableCell { display: table-cell !important; }
    .u-#{$infix}displayFlex { display: flex !important; }
    .u-#{$infix}displayInlineFlex { display: inline-flex !important; }
  }
}
