/*
@include util-make((
  'display': (
    'none',
    'inline',
    'inline-block',
    'block',
    'table',
    'table-row',
    'table-cell',
    'flex',
    'inline-flex'
  )
));
*/

@each $breakpoint in map-keys(screen-get()) {
  $infix: screen-infix($breakpoint);

  @include screen-up($breakpoint) {
    .#{$namespace}u-#{$infix}displayNone        { display: none !important; }
    .#{$namespace}u-#{$infix}displayInline     { display: inline !important; }
    .#{$namespace}u-#{$infix}displayInlineBlock { display: inline-block !important; }
    .#{$namespace}u-#{$infix}displayBlock        { display: block !important; }
    .#{$namespace}u-#{$infix}displayTable        { display: table !important; }
    .#{$namespace}u-#{$infix}displayTableRow    { display: table-row !important; }
    .#{$namespace}u-#{$infix}displayTableCell   { display: table-cell !important; }
    .#{$namespace}u-#{$infix}displayFlex         { display: flex !important; }
    .#{$namespace}u-#{$infix}displayInlineFlex  { display: inline-flex !important; }
  }
}
