.#{$namespace}Table {
  $table-border-color: var-get('gray300');
  $table-header-color: var-get('gray600');
  $table-header-background: var-get('gray100');
  $table-cell-width: 200px;
  $table-cell-spacing: 12px 16px;
  $table-hover-color: var-get('colorPrimary');
  $table-hover-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  $self: &;

  min-width: 100%;
  border: 0;
  margin: 1rem 0;
  display: table;
  border-collapse: collapse;
  table-layout: fixed;

  &-header {
    background: $table-header-background;
    border: 0;
    border-bottom: solid 1px $table-border-color;
    width: $table-cell-width;
    white-space: nowrap;
  }

  &-data {
    border: 0;
    padding: $table-cell-spacing;
    text-align: left;
    vertical-align: middle;
    width: $table-cell-width;
    word-break: break-word;

    * {
      margin-bottom: 0;
    }
  }

  &-header {
    font: {
      family: var-get('fontFamilyMono');
      weight: normal;
    }

    border: 0;
    color: $table-header-color;
    font-size: var-get('fontSizeSmall');
    padding: $table-cell-spacing;
    text-align: left;
    text-transform: uppercase;
    border-bottom: solid 1px $table-border-color;
  }

  &-row + &-row &-data {
    border: 0;
    border-top: solid 1px $table-border-color;
  }

  &--justify &-header,
  &--justify &-data {
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  &--selectable *:not(#{&}-head) &-row {
    cursor: pointer;

    &:hover {
      box-shadow: $table-hover-shadow;
      position: relative;
      z-index: 10;
      cursor: pointer;

      #{$self}-data:first-child {
        position: relative;

        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 2px;
          background-color: $table-hover-color;
        }
      }
    }
  }
}
