.V2Select {
  @extend %v2Control;

  @mixin chevronDown ($color) {
    // use floats because of ugly google-chrome subpixel rendering
    // 42.01 instead of 42% looks nicer in chrome.
    // https://stackoverflow.com/questions/51850356/chrome-linear-gradient-bugs-when-dealing-with-subpixels
    background-image:
      linear-gradient(45deg, transparent 42.01%, $color 42.01%, $color 60.01%, transparent 60.01%),
      linear-gradient(-45deg, transparent 42.01%, $color 42.01%, $color 60.01%, transparent 60.01%);
  }

  box-sizing: border-box;
  appearance: none;
  cursor: pointer;
  background-position:
    calc(100% - 24px) 4px,
    calc(100% - 18px) 4px,
    calc(100% - 2.5em) 0;
  background-size:
    6px 6px,
    6px 6px,
    1px 0;
  background-repeat: no-repeat;

  &:focus,
  .Theme-dark &:focus {
    @include chevronDown(var-get('colorPrimary'));
  }

  .has-error &:focus {
    @include chevronDown(var-get('colorError'));
  }

  & option {
    color: initial;
  }

  //
  // Light theme colors
  //

  $theme-light-colors: map-get($v2-control-colors, light);

  @include chevronDown(map-get($theme-light-colors, border-default));

  .has-value & {
    @include chevronDown(map-get($theme-light-colors, input-default));
  }

  &:disabled {
    @include chevronDown(map-get($theme-light-colors, border-disabled));
  }

  //
  // Dark theme colors
  //

  $theme-dark-colors: map-get($v2-control-colors, dark);

  .Theme-dark & {
    @include chevronDown(map-get($theme-dark-colors, border-default));
  }

  .Theme-dark .has-value & {
    @include chevronDown(map-get($theme-dark-colors, input-default));
  }

  .Theme-dark &:disabled {
    @include chevronDown(map-get($theme-dark-colors, border-disabled));
  }
}
