@each $breakpoint in map-keys(screen-get()) {
  $infix: screen-infix($breakpoint);

  @include screen-up($breakpoint) {
    .#{$namespace}u-#{$infix}flexColumn {
      flex-direction: column !important;
    }

    .#{$namespace}u-#{$infix}flexColumnReverse {
      flex-direction: column-reverse !important;
    }

    .#{$namespace}u-#{$infix}flexRow {
      flex-direction: row !important;
    }

    .#{$namespace}u-#{$infix}flexRowReverse {
      flex-direction: row-reverse !important;
    }

    .#{$namespace}u-#{$infix}flexWrap {
      flex-wrap: wrap !important;
    }

    .#{$namespace}u-#{$infix}flexWrapReverse {
      flex-wrap: wrap-reverse !important;
    }

    .#{$namespace}u-#{$infix}flexNowrap {
      flex-wrap: nowrap !important;
    }
  }
}
