.Input {
  @extend %control;

  @mixin placeholder ($color, $opacity) {
    &:-moz-placeholder {
      color: $color;
      opacity: $opacity;
    }

    &::-moz-placeholder {
      color: $color;
      opacity: $opacity;
    }

    &::-webkit-input-placeholder {
      color: $color;
      opacity: $opacity;
    }
  }

  //
  // Light theme colors
  //

  $theme-light-colors: map-get($control-colors, light);

  @include placeholder(map-get($theme-light-colors, label-default), 0);

  &:focus {
    @include placeholder(map-get($theme-light-colors, label-default), 1);
  }

  //
  // Dark theme colors
  //

  $theme-dark-colors: map-get($control-colors, dark);

  .Theme-dark & {
    @include placeholder(map-get($theme-dark-colors, label-default), 0);
  }

  .Theme-dark & &:focus {
    @include placeholder(map-get($theme-dark-colors, label-default), 1);
  }
}
