.#{$namespace}Radio {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 4px 0;

  input {
    display: none;
  }

  &-button {
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var-get('gray600');
    position: relative;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 3px;
      left: 3px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: var-get('colorPrimary');
    }
  }

  input:checked ~ &-button {
    border-color: var-get('colorPrimary');

    &:after {
      display: block;
    }
  }

  input:disabled ~ &-button {
    border-color: $control-disabled;
    cursor: not-allowed;
  }

  input:checked:disabled ~ &-button:after {
    background: $control-disabled;
  }

  &-label {
    margin: 0 8px;
    color: var-get('gray600');
    cursor: pointer;
  }

  input:checked ~ &-label {
    color: var-get('colorDark');
  }

  input:disabled ~ &-label,
  input:checked:disabled ~ &-label {
    color: $control-disabled;
    cursor: not-allowed;
  }
}