@import '../../core/functions/color';
@import '../../core/functions/breakpoint';

.Header {
  $self: &;

  position: fixed;
  background: get-color('light');
  box-shadow: 0 0 8px 0 rgba(13, 18, 44, 0.3);
  height: 64px;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: get-breakpoint(md)) {
    justify-content: flex-start;
  }

  &-body,
  &-left-container,
  &-right-container {
    display: none;

    @media (min-width: get-breakpoint(md)) {
      display: unset;
    }
  }

  &-body {
    flex-grow: 1;
  }

  &-left-container {
    margin-left: 40px;
  }

  &-right-container {
    margin-left: 40px;
  }

  &-mobile-menu {
    @media (min-width: get-breakpoint(md)) {
      display: none;
    }
  }
}
