$badge-font-size: $font-size-x-small;
$badge-font-weight: $font-weight-bold !default;
$badge-padding-y: .25em !default;
$badge-padding-x: .4em !default;
$badge-border-radius: 2.5rem !default;
$badge-border-color: $border-color;
$badge-background: $badge-border-color;
$badge-border-width: 1px;
$badge-color: $text-color;
