// Color system
$white:    #fff !default;
$gray-100: #f5f6f8 !default;
$gray-200: #e9ecef !default;
$gray-300: #e3e4e5 !default;
$gray-400: #d0d1d3 !default;
$gray-500: #a7a8aa !default;
$gray-600: #58585a !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #fd5952 !default;
$orange:  #ff6600 !default;
$yellow:  #ffc107 !default;
$green:   #02bf1b !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$dark-blue: #0d122c !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $orange !default;
$secondary:     $dark-blue !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$error:         $red !default;
$light:         $white !default;
$dark:          $black !default;

$context-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$context-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "error":      $error,
    "light":      $light,
    "dark":       $dark,
  ),
  $context-colors
);


$context-threshold: 0.7 !default;
