$control-border-width: $border-width;
$control-border-color: $border-color;
$control-border-radius: $border-radius;
$control-padding-y: 0.125rem;
$control-padding-x: 0;
$control-font-size: 0.9rem;
$control-line-height: 1.3rem;
$control-font-weight: 400;
$control-label: #a7a8aa;
$control-width: 160px;
$control-height: 2rem;
$control-placeholder: $gray-500;
$control-spacer: $spacer;
$control-disabled: $gray-400;

$label-font-size: 0.8rem;
$label-font-weight: 400;
$label-color: $control-label;

%label {
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  color: $label-color;
  padding: 0;
  margin-bottom: map-get($spacers, 1);
}

%control {
  min-height: $control-height;
  vertical-align: middle;
  border: 0;
  border-bottom: $control-border-width solid $control-border-color;
  border-radius: $control-border-radius;
  padding: $control-padding-y $control-padding-x;
  font-size: $control-font-size;
  line-height: $control-line-height;
  font-weight: $control-font-weight;
}
