$control-border-width: var-get('borderWidth');
$control-border-color: var-get('borderColor');
$control-border-radius: var-get('borderRadius');
$control-padding-y: 0.125rem;
$control-padding-x: 0;
$control-font-size: var-get-value('control' 'fontSize');
$control-line-height: var-get-value('control' 'lineHeight');
$control-font-weight: var-get-value('control' 'fontWeight');
$control-label: var-get-value('gray' '500');
$control-height: var-get-value('control' 'height');
$control-placeholder: var-get('gray500');
$control-spacer: var-get('spacing3');
$control-disabled: var-get('gray300');

$label-font-size: var-get-value('label' 'fontSize');
$label-font-weight: var-get-value('label' 'fontWeight');
$label-color: $control-label;

%label {
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  color: $label-color;
  padding: 0;
  margin-bottom: var-get('spacing1');
}

%control {
  min-height: $control-height;
  vertical-align: middle;
  border: 0;
  border-bottom: $control-border-width solid $control-border-color;
  border-radius: $control-border-radius;
  padding: $control-padding-y $control-padding-x;
  font-size: $control-font-size;
  line-height: $control-line-height;
  font-weight: $control-font-weight;
}
