$control-border-width: var-get('borderWidth');
$control-border-color: var-get('borderColor');
$control-border-radius: var-get('borderRadius');
$control-font-size: var-get('controlFontSize');
$control-line-height: var-get('controlLineHeight');
$control-font-weight: var-get('controlFontWeight');
$control-placeholder: var-get('controlPlaceholderColor');
$control-spacer: var-get('spacing3');
$control-disabled: var-get('gray300');

$label-font-size: var-get('labelFontSize');
$label-font-weight: var-get('labelFontWeight');
$label-color: var-get('labelColor');

%label {
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  color: $label-color;
  padding: 0;
  margin-bottom: var-get('spacing1');
}

%control {
  min-height: $olt-control-height;
  vertical-align: middle;
  border: 0;
  border-bottom: $control-border-width solid $control-border-color;
  border-radius: $control-border-radius;
  padding: $olt-control-padding-y $olt-control-padding-x;
  font-size: $control-font-size;
  line-height: $control-line-height;
  font-weight: $control-font-weight;
}
