
$olt-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$olt-v1-prefix: 'olt-';
$olt-prefix: 'olt-v2-';

$olt-screen-style: kebabCase;

// required for compatibility with v1 functions like screen-up etc.
// These variables are implicitly used in those functions when not
// explicitly passed as parameter
$screen-prefix: $olt-v1-prefix;
$screen-style: $olt-screen-style;

@include screen-set($olt-breakpoints, $olt-prefix, $olt-screen-style);


// all v2 functions pass all params explicitly and don't rely on global vars.

@mixin screen-up-v2($name) {
  @include screen-up($name, $olt-prefix, $olt-screen-style, $olt-breakpoints) {
    @content;
  }
}

@function screen-infix-v2($name) {
  @return screen-infix($name, $olt-breakpoints);
}

@function screen-get-v2() {
  @return $olt-breakpoints;
}

@mixin screen-down-v2($name) {
  @include screen-down($name, $olt-prefix, $olt-screen-style, $olt-breakpoints) {
    @content;
  }
}

$olt-v1-breakpoints: (
  xs: var-get-value(breakpoint xs),
  sm: var-get-value(breakpoint sm),
  md: var-get-value(breakpoint md),
  lg: var-get-value(breakpoint lg),
  xl: var-get-value(breakpoint xl),
);

// Breakpoints
@include screen-set($olt-v1-breakpoints, $olt-v1-prefix, $olt-screen-style);

