// Screen
$screen-prefix: 'olt-';
$screen-style: kebabCase;

// Breakpoints
@include screen-set(
  (
    xs: var-get-value(breakpoint xs),
    sm: var-get-value(breakpoint sm),
    md: var-get-value(breakpoint md),
    lg: var-get-value(breakpoint lg),
    xl: var-get-value(breakpoint xl),
  )
);
