
$v2-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$olt-v1-prefix: 'olt-';
$olt-v2-prefix: 'olt-v2-';

$olt-screen-style: kebabCase;

// required for compatibility with v1, it's implicitly used in screen functions (screen-up, etc.) when not
// passed as parameter
$screen-style: $olt-screen-style;


@include screen-set($v2-breakpoints, $olt-v2-prefix, $olt-screen-style);

// for v2 functions we pass all params explicitly.

@mixin screen-up-v2($name) {
  @include screen-up($name, $olt-v2-prefix, $olt-screen-style, $v2-breakpoints) {
    @content;
  }
}

@function screen-infix-v2($name) {
  @return screen-infix($name, $v2-breakpoints);
}

@function screen-get-v2() {
  @return $v2-breakpoints;
}

@mixin screen-down-v2($name) {
  @include screen-down($name, $olt-v2-prefix, $olt-screen-style, $v2-breakpoints) {
    @content;
  }
}


$v1-breakpoints: (
  xs: var-get-value(breakpoint xs),
  sm: var-get-value(breakpoint sm),
  md: var-get-value(breakpoint md),
  lg: var-get-value(breakpoint lg),
  xl: var-get-value(breakpoint xl),
);

// Breakpoints
@include screen-set($v1-breakpoints, $olt-v1-prefix, $olt-screen-style);

