$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25), // xxs
    2: ($spacer * .5), // xs
    3: $spacer, // s
    4: ($spacer * 1.5), // m
    5: ($spacer * 2), // l
    6: ($spacer * 3), // xl
    7: ($spacer * 4.5), // xxl
    8: ($spacer * 6) // xxxl
  ),
  $spacers
);