

// Variables
$var-prefix: 'olt-';
$var-style: camelCase;

:root {
  // Container
  @include var-set((
    containerPadding: 15px,
    containerMaxWidth: (
      sm: 540px,
      md: 720px,
      lg: 960px,
      xl: 1140px
    )
  ));

  // Colors
  @include var-set((
    color: (
      primary: #FF6600,
      secondary: #0D122C,
      info: #17A2B8,
      success: #02BF1B,
      error: #FD5952,
      warning: #FFC107,
      light: #FFFFFF,
      dark: #000000
    )
  ));

  // Inverse colors
  @include var-set((
    inverse: (
      primary: var-get('colorLight'),
      secondary: var-get('colorLight'),
      info: var-get('colorLight'),
      success: var-get('colorLight'),
      error: var-get('colorLight'),
      warning: var-get('colorDark'),
      light: var-get('colorDark'),
      dark: var-get('colorLight')
    )
  ));

  // Grays
  @include var-set((
    gray: (
      100: #F5F6F8,
      200: #E9ECEF,
      300: #E3E4E5,
      400: #D0D1D3,
      500: #A7A8AA,
      600: #58585A,
      700: #495057,
      800: #343a40,
      900: #212529
    )
  ));

  // Border
  @include var-set((
    borderRadius: 2px,
    borderWidth: 1px,
    borderColor: var-get('gray300')
  ));

  // Typography
  @include var-set((
    fontSizeBase: 16px,
    lineHeightBase: 1.5,
    fontFamilyBase: 'PT Sans, Arial',
    fontFamilyMono: 'Overpass Mono, monospace',
  ));

  // Font sizes
  @include var-set((
    fontSize: (
      xxSmall: calc(#{var-get('fontSizeBase')} * 0.65),
      xSmall: calc(#{var-get('fontSizeBase')} * 0.75),
      small: calc(#{var-get('fontSizeBase')} * 0.8),
      medium: var-get('fontSizeBase'),
      large: calc(#{var-get('fontSizeBase')} * 1.5),
      xLarge: calc(#{var-get('fontSizeBase')} * 1.8),
      xxLarge: calc(#{var-get('fontSizeBase')} * 2.2),
      smaller: 80%,
      larger: 150%
    )
  ));

  // Line heights
  @include var-set((
    lineHeight: (
      xxSmall: calc(#{var-get('lineHeightBase')} * 0.6667),
      xSmall: calc(#{var-get('lineHeightBase')} * 0.8333),
      small: calc(#{var-get('lineHeightBase')} * 0.9),
      medium: var-get('lineHeightBase'),
      large: calc(#{var-get('lineHeightBase')} * 1.3333),
      xLarge: calc(#{var-get('lineHeightBase')} * 1.5333),
      xxLarge: calc(#{var-get('lineHeightBase')} * 1.7333),
      smaller: 80%,
      larger: 150%
    )
  ));

  // Font weights
  @include var-set((
    fontWeight: (
      light: 400,
      regular: 400,
      bold: 700
    )
  ));

  @include var-set((
    fontWeightMono: (
      light: 300,
      regular: 300,
      bold: 300
    )
  ));

  // Headings
  @include var-set((
    fontFamilyHeading: var-get('fontFamilyBase'),
    fontWeightHeading: var-get('fontWeightBold')
  ));

  // Links
  @include var-set((
    linkColor: var-get('colorPrimary'),
    linkHoverContrast: 10%
  ));

  // Spacings
  @include var-set('spacer', 1rem);

  @include var-set('spacing', (
    0: 0,
    1: calc(#{var-get('spacer')} * 0.25),
    2: calc(#{var-get('spacer')} * 0.5),
    3: calc(#{var-get('spacer')} * 1),
    4: calc(#{var-get('spacer')} * 1.5),
    5: calc(#{var-get('spacer')} * 2),
    6: calc(#{var-get('spacer')} * 3),
    7: calc(#{var-get('spacer')} * 4.5),
    8: calc(#{var-get('spacer')} * 6),
  ));

  // Transitions
  @include var-set((
    transitionDuration: 150ms,
    transitionTimingFunction: ease
  ));
}
