// global variables that are not exposed as css-variables
$olt-control-height: 2rem;
$olt-control-padding-y: 0.125rem;
$olt-control-padding-x: 0;
$olt-button-font-size: 1rem;
$olt-button-line-height: 2.25rem;
$olt-button-border-radius: 2.5rem;
$olt-card-title-font-size: 1.2rem;
$olt-card-title-line-height: 1.6rem;
$olt-modal-title-font-size: 20px;
$olt-modal-title-line-height: 28px;
$olt-navbar-font-size: 0.875rem;
$olt-navbar-font-size-lg-down: 1.125rem;
$olt-tabs-line-height: 1.25rem;
$olt-tabs-font-size-lg-up: 1.25rem;
$olt-tooltip-font-size: 0.75rem;
$olt-tooltip-line-height: 0.875rem;
$olt-dataCards-cardItem-content-font-size: 14px;
$olt-dataCards-headItem-content-font-size: 12px;
$olt-dataCards-cardItem-title-font-size: 10px;
$olt-dataCards-cardItem-title-line-height: 14px;
$olt-list-term-font-size: var-get('fontSizeXSmall');
$olt-list-term-line-height: 1.7;
$olt-table-header-font-size: var-get('fontSizeSmall');
$olt-checkbox-label-font-size: var-get('fontSizeBase');
$olt-checkbox-label-line-height: 24px;
$olt-select-font-size: 14px;
$olt-tag-font-size: var-get('fontSizeSmall');