$olt-spaces: 0, 1, 2, 4, 8, 16, 24, 32, 48, 72, 96;

$olt-primary-color: #f60;
$olt-secondary-color: #0d122c;

$olt-font-family-base: 'PT Sans', sans-serif;
$olt-font-weight: 400;
$olt-line-height: 1.5;

$olt-z-index-dialog: 800;
$olt-z-index-modal: 1002;
$olt-z-index-modal-close: 1003;
$olt-z-index-modal-dialog: 999;
$olt-z-index-notification: 1300;
$olt-z-index-tooltip: 950;
