
.#{$namespace}Select {
  @extend %control;
  font-size: 14px;

  /* styling */
  background-color: white;
  display: inline-block;
  padding: 0.25rem 1.25rem 0 0;
  /* reset */

  margin: 0;
  box-sizing: border-box;
  appearance: none;
  cursor: pointer;
  border-radius: 0;

  background-image:
    // use floats because of ugly google-chrome subpixel rendering
    // 50.01 instead of 50% looks nicer in chrome.
    // https://stackoverflow.com/questions/51850356/chrome-linear-gradient-bugs-when-dealing-with-subpixels
    linear-gradient(45deg, transparent 50.01%, gray 50.01%),
    linear-gradient(135deg, gray 50.01%, transparent 50.01%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 10px) calc(1em + 2px),
    calc(100% - 5px) calc(1em + 2px),
    calc(100% - 2.5em) 0;
  background-size:
    5px 5px,
    5px 5px,
    1px 0;
  background-repeat: no-repeat;

  &:focus {
    border-bottom-color: $primary !important;
    outline-width: 0;
  }

  &.is-disabled {
    border-bottom: dotted $control-border-width $control-disabled;
  }

  &.is-placeholder {
    @include control-placeholder-style;
    option {
      color: $black;
    }
  }

  &.is-error {
    border-color: $error;
  }

  &--fullwidth {
    width: 100%;
  }
}
