.Select {
  $chevron-size: 6px;
  $select-border-radius: 2.5rem;

  @extend %control;

  @mixin chevronDown ($color) {
    // use floats because of ugly google-chrome subpixel rendering
    // 42.01 instead of 42% looks nicer in chrome.
    // https://stackoverflow.com/questions/51850356/chrome-linear-gradient-bugs-when-dealing-with-subpixels
    background-image:
      linear-gradient(45deg, transparent 42.01%, $color 42.01%, $color 60.01%, transparent 60.01%),
      linear-gradient(-45deg, transparent 42.01%, $color 42.01%, $color 60.01%, transparent 60.01%);
  }

  box-sizing: border-box;
  appearance: none;
  cursor: pointer;
  background-position:
    calc(100% - #{18px+$chevron-size}) 4px,
    calc(100% - 18px) 4px,
    calc(100% - 2.5em) 0;
  background-size:
    $chevron-size $chevron-size,
    $chevron-size $chevron-size,
    1px 0;
  background-repeat: no-repeat;

  &:focus,
  .Theme-dark &:focus {
    @include chevronDown(get-color('primary'));
  }

  .has-error &:focus {
    @include chevronDown(get-color('error'));
  }

  & option {
    color: initial;
  }

  &--pagination {
    $pagination-chevron-size: 6px;
    $color: get-color('secondary');
    $padding-y: 8px;
    $padding-x: 16px;
    $chevron-padding-x: 16px;

    @extend .u-description;

    border: 1px solid;
    border-color: get-color('secondary');
    border-radius: $select-border-radius;
    margin-top: 0;
    padding: $padding-y #{($padding-x+$pagination-chevron-size+$chevron-padding-x)-2px} $padding-y $padding-x;
    background-image:
      linear-gradient(45deg, transparent 42.01%, $color 42.01%, $color 60.01%, transparent 60.01%),
      linear-gradient(-45deg, transparent 42.01%, $color 42.01%, $color 60.01%, transparent 60.01%);
    background-position:
      calc(100% - #{$padding-x+$pagination-chevron-size}),
      calc(100% - #{$padding-x});

    &:focus {
      box-shadow: none;
      border-color: get-color('secondary');
      background-image:
        linear-gradient(45deg, transparent 42.01%, $color 42.01%, $color 60.01%, transparent 60.01%),
        linear-gradient(-45deg, transparent 42.01%, $color 42.01%, $color 60.01%, transparent 60.01%);
    }
  }

  //
  // Light theme colors
  //

  $theme-light-colors: map-get($control-colors, light);

  @include chevronDown(map-get($theme-light-colors, border-default));

  .has-value & {
    @include chevronDown(map-get($theme-light-colors, input-default));
  }

  &:disabled {
    @include chevronDown(map-get($theme-light-colors, border-disabled));
  }

  //
  // Dark theme colors
  //

  $theme-dark-colors: map-get($control-colors, dark);

  .Theme-dark & {
    @include chevronDown(map-get($theme-dark-colors, border-default));
  }

  .Theme-dark .has-value & {
    @include chevronDown(map-get($theme-dark-colors, input-default));
  }

  .Theme-dark &:disabled {
    @include chevronDown(map-get($theme-dark-colors, border-disabled));
  }
}
