.#{$namespace}FormField {
  display: flex;
  flex-direction: column;

  &-label {
    color: initial;
    line-height: 1;
    height: 0.8rem;
  }

  &-footer {
    @include form-field-footer();
  }
}
