// TODO: Use maps for property names and values
.u-alignItemsStart {
  align-items: flex-start !important;
}

.u-alignItemsCenter {
  align-items: center !important;
}

.u-alignItemsEnd {
  align-items: flex-end !important;
}

.u-alignItemsStretch {
  align-items: stretch !important;
}

.u-alignItemsBaseline {
  align-items: baseline !important;
}

@each $breakpoint in map-keys(screen-get()) {
  $infix: screen-infix($breakpoint);

  @include screen-up($breakpoint) {
    .u-#{$infix}alignItemsStart {
      align-items: flex-start !important;
    }

    .u-#{$infix}alignItemsCenter {
      align-items: center !important;
    }

    .u-#{$infix}alignItemsEnd {
      align-items: flex-end !important;
    }

    .u-#{$infix}alignItemsStretch {
      align-items: stretch !important;
    }

    .u-#{$infix}alignItemsBaseline {
      align-items: baseline !important;
    }
  }
}
