.V2Label {
  position: relative;
  display: block;
  padding: 0;
  margin-bottom: var-get('spacing1');
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #a7a8aa;
  display: flex;
  flex-direction: column;
  margin-bottom: $olt-control-spacer;

  &-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
    pointer-events: none;
    cursor: text;
    transition: all 200ms;
    left: 16px;
  }

  .has-value &-text,
  input:focus + &-text {
    top: 0;
    transform: translateY(0) scale(0.6875);
  }

  input:focus + &-text {
    color: var-get('colorPrimary');
  }
}
