.Tooltip {
  $self: &;

  position: relative;
  display: inline-block;

  &:hover {
    #{$self}-content {
      opacity: 1;
      display: block;
    }
  }

  &-content {
    @extend .u-support;

    padding: 0.25rem;
    background: get-color('primary');
    color: get-color('light');
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 5px));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
    opacity: 0;
    display: none;
    z-index: $olt-z-index-tooltip;
    border-radius: 2px;

    p {
      padding: 0;
      width: 10rem;
      margin: 0;
    }

    &::before {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%) rotate(180deg);
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0.25rem 0.31rem 0.25rem;
      border-color: transparent transparent #f60 transparent;
    }
  }

  $colors: get-colors();

  @each $name, $value in $colors {
    &--#{$name} {
      background: $value;

      &:before {
        border-color: transparent transparent $value transparent;
      }
    }
  }


  &--bottom {
    #{$self}-content {
      top: 100%;
      transform: translate(-50%, 5px);

      &::before {
        top: 1px;
        transform: translate(-50%, -100%) rotate(0deg);
      }
    }
  }
}
