.#{$namespace}Tooltip {
  $self: &;

  position: relative;
  display: inline-block;

  &:hover {
    #{$self}-content {
      opacity: 1;
      display: block;
    }
  }

  &-content {
    padding: 0.25rem;
    background: var-get('colorPrimary');
    font-size: $olt-tooltip-font-size;
    color: var-get('colorLight');
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 5px));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
    opacity: 0;
    display: none;
    z-index: 950;
    border-radius: 2px;

    p {
      padding: 0;
      width: 10rem;
      line-height: $olt-tooltip-line-height;
      margin: 0;
    }

    &::before {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%) rotate(180deg);
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0.25rem 0.31rem 0.25rem;
      border-color: transparent transparent #f60 transparent;
    }

    @include contextual-colors(('background-color', 'color'));

    @include contextual-colors(('border-color'), $selector: '::before') {
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
    }
  }

  &--bottom {
    // FIXME: Why is neither of these working?
    #{$self}-content {
      top: 100%;
      transform: translate(-50%, 5px);

      &::before {
        top: 1px;
        transform: translate(-50%, -100%) rotate(0deg);
      }
    }
  }
}
