.Tooltip {
  $self: &;

  position: relative;
  display: inline-block;

  &:hover {
    #{$self}-content {
      opacity: 1;
      display: block;
    }
  }

  &-content {
    @extend .u-support;

    padding: 0.25rem;
    background: get-color('primary');
    color: get-color('light');
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 5px));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
    opacity: 0;
    display: none;
    z-index: $olt-z-index-tooltip;
    border-radius: 2px;

    p {
      padding: 0;
      width: 10rem;
      margin: 0;
    }

    &::before {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%) rotate(180deg);
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0.25rem 0.31rem 0.25rem;
      border-color: transparent transparent #f60 transparent;
    }
  }


  &--primary {
    background: get-color('primary');

    &:before {
      border-color: transparent transparent get-color('primary') transparent;
    }
  }

  &--secondary {
    background: get-color('secondary');

    &:before {
      border-color: transparent transparent get-color('secondary') transparent;
    }
  }

  &--info {
    background: get-color('info');

    &:before {
      border-color: transparent transparent get-color('info') transparent;
    }
  }

  &--error {
    background: get-color('error');

    &:before {
      border-color: transparent transparent get-color('error') transparent;
    }
  }

  &--success {
    background: get-color('success');

    &:before {
      border-color: transparent transparent get-color('success') transparent;
    }
  }

  &--gray100 {
    background: get-color('gray100');

    &:before {
      border-color: transparent transparent get-color('gray100') transparent;
    }
  }

  &--gray200 {
    background: get-color('gray200');

    &:before {
      border-color: transparent transparent get-color('gray200') transparent;
    }
  }

  &--gray300 {
    background: get-color('gray300');

    &:before {
      border-color: transparent transparent get-color('gray300') transparent;
    }
  }

  &--gray400 {
    background: get-color('gray400');

    &:before {
      border-color: transparent transparent get-color('gray400') transparent;
    }
  }

  &--gray500 {
    background: get-color('gray500');

    &:before {
      border-color: transparent transparent get-color('gray500') transparent;
    }
  }

  &--gray600 {
    background: get-color('gray600');

    &:before {
      border-color: transparent transparent get-color('gray600') transparent;
    }
  }

  &--gray700 {
    background: get-color('gray700');

    &:before {
      border-color: transparent transparent get-color('gray700') transparent;
    }
  }

  &--gray800 {
    background: get-color('gray800');

    &:before {
      border-color: transparent transparent get-color('gray800') transparent;
    }
  }

  &--gray900 {
    background: get-color('gray900');

    &:before {
      border-color: transparent transparent get-color('gray900') transparent;
    }
  }


  &--bottom {
    #{$self}-content {
      top: 100%;
      transform: translate(-50%, 5px);

      &::before {
        top: 1px;
        transform: translate(-50%, -100%) rotate(0deg);
      }
    }
  }
}
