@keyframes olt-snackbar-animation-open {
  0% {
    transform: translateY(100%);
    visibility: hidden;
  }

  1% {
    visibility: visible;
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes olt-snackbar-animation-close {
  0% {
    transform: translateY(0%);
    visibility: visible;
  }

  99% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
    transform: translateY(100%);
  }
}


.#{$namespace}Snackbar {
  width: 0;
  height: 0;
  overflow: hidden;
  font-family: var-get('fontFamilyBase');

  @include contextual-colors();

  &-dialog {
    animation-name: olt-snackbar-animation-close;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
  }

  &-close {
    align-self: flex-end;
    margin: 0;
  }

  > i {
    align-self: center;
    padding-right: 1rem;
  }

  &.is-open {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    min-height: 64px;
    animation-name: olt-snackbar-animation-open;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    padding-left: 48px;
    padding-right: 48px;
    line-height: 64px;
    z-index: 1200;
    display: flex;
    flex-wrap: wrap;
    animation-duration: 400ms;
  }

  &.is-open &-dialog {

  }
}
