.DataCards {
  $border-radius: 0.25rem !default;
  $box-shadow: 0 0 8px 0 rgba(13, 18, 44, 0.15);
  $self: &;
  $title-margin: 4px;
  $card-padding-x: $olt-dataCards-card-padding-x;
  $card-padding-y: $card-padding-x;
  $card-item-gap: $olt-dataCards-card-item-gap;
  $card-padding-large-x: $card-padding-x * 2;
  $card-padding-large-y: $card-padding-y;
  $card-gap: $olt-dataCards-card-gap;
  $border-color: get-color('gray300');

  width: 100%;

  &-frame {
    width: 100%;
  }

  &-body {
    margin-top: -1 * $card-gap;
  }

  &-card {
    transition: box-shadow 150ms;
    background: get-color('light');
    border: 1px solid $border-color;
    border-radius: $border-radius;
    margin-top: $card-gap;
  }

  &--selectable &-card {
    &:hover {
      cursor: pointer;
      box-shadow: $box-shadow;
    }
  }

  &-cardItem &-content {
    font-family: var-get('fontFamilyBase');
    font-weight: normal;
    font-size: $olt-dataCards-cardItem-content-font-size;
    word-break: break-word;
  }

  @include dataCardsInTableMode {
    // common
    #{$self}-head {
      border: 1px solid transparent;
    }

    #{$self}-headItem {
      color: get-color('gray500');
      font-family: var-get('fontFamilyBase');
      font-size: $olt-dataCards-headItem-content-font-size;
      font-weight: bold;
      padding: $card-padding-y $card-padding-x;
      white-space: nowrap;
    }

    #{$self}-cardItem #{$self}-title {
      display: none;
    }

    #{$self}--alignCenter {
      text-align: center;
    }

    #{$self}--alignRight {
      text-align: right;
    }

    #{$self}-cardItem #{$self}-content {
      padding: $card-padding-y $card-padding-x;
    }
  }

  @include dataCardsFlexLayoutIntegration($self);

  @include dataCardsTableLayoutIntegration(
    $self,
    $border-color,
    $border-radius,
    $card-gap,
    $box-shadow,
    $card-padding-x,
    $card-padding-y
  );

  @include dataCardsInListMode($self) {
    #{$self}-cardItem #{$self}-title {
      color: $olt-dataCards-cardItem-title-color;
      font-family: var-get('fontFamilyBase');
      font-size: $olt-dataCards-cardItem-title-font-size;
      font-weight: bold;
      line-height: $olt-dataCards-cardItem-title-line-height;
      margin-bottom: $title-margin;
    }

    #{$self}-head {
      display: none;
    }

    #{$self}-body {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    #{$self}-card {
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-basis: calc(50% - #{$card-gap / 2});
      padding: $card-padding-y $card-padding-x;
      padding-top: $card-padding-y - $card-item-gap;

      &:nth-child(2n + 1) {
        margin-right: $card-gap;
      }
    }

    #{$self}-cardItem {
      display: flex;
      flex-grow: 0;
      flex-direction: column;
      align-items: flex-start;
      flex-basis: 100%;
      padding-top: $card-item-gap;

      &#{$self}--halfSize {
        flex-basis: 50%;
        padding-right: $card-item-gap * 0.5;
      }
    }

    #{$self}-cardItem,
    #{$self}-headItem,
    #{$self}-content {
      &#{$self}--tableOnly {
        display: none;
      }
    }

    #{$self}-title {
      display: block;
      word-break: break-word;
    }

    &#{$self}--largeCardPadding {
      #{$self}-card {
        padding: $card-padding-large-y $card-padding-large-x;
        padding-top: $card-padding-large-y - $card-item-gap;
      }
    }
  }

  @include dataCardsInListModeSmall($self) {
    #{$self}-card {
      flex-basis: 100%;

      &:nth-child(2n + 1) {
        margin-right: 0;
      }
    }
  }
}
