$colors: get-colors();
$border: 1px solid get-color('gray300');

// TODO: Break lines and make pretty
// TODO: Use existing mixins for creating utils
.u-border { border: $border !important; }
.u-borderTop { border-top: $border !important; }
.u-borderRight { border-right: $border !important; }
.u-borderBottom { border-bottom: $border !important; }
.u-borderLeft { border-left: $border !important; }

.u-borderNone { border: 0 !important; }
.u-borderTopNone { border-top: 0 !important; }
.u-borderRightNone { border-right: 0 !important; }
.u-borderBottomNone { border-bottom: 0 !important; }
.u-borderLeftNone { border-left: 0 !important; }

// Colors
@each $breakpoint in map-keys(screen-get()) {
  $infix: screen-infix($breakpoint);

  @include screen-up($breakpoint) {
    @each $name, $value in $colors {
      .u-#{$infix}borderColor#{string-capitalize($name)} {
        border-color: $value !important;
      }
    }
  }
}
