// TODO: Break lines and make pretty
// TODO: Use existing mixins for creating utils
.u-border { border: var-get('borderWidth') solid var-get('borderColor') !important; }
.u-borderTop { border-top: var-get('borderWidth') solid var-get('borderColor') !important; }
.u-borderRight { border-right: var-get('borderWidth') solid var-get('borderColor') !important; }
.u-borderBottom { border-bottom: var-get('borderWidth') solid var-get('borderColor') !important; }
.u-borderLeft { border-left: var-get('borderWidth') solid var-get('borderColor') !important; }

.u-borderNone { border: 0 !important; }
.u-borderTopNone { border-top: 0 !important; }
.u-borderRightNone { border-right: 0 !important; }
.u-borderBottomNone { border-bottom: 0 !important; }
.u-borderLeftNone { border-left: 0 !important; }

// Colors
@each $breakpoint in map-keys(screen-get()) {
  $infix: screen-infix($breakpoint);

  @include screen-up($breakpoint) {
    // Colors
    @each $name, $value in var-get('color') {
      .u-#{$infix}borderColor#{string-capitalize($name)} {
        border-color: $value !important;
      }
    }

    // Grays
    @each $name, $value in var-get('gray') {
      .u-#{$infix}borderColorGray#{string-capitalize($name)} {
        border-color: $value !important;
      }
    }
  }
}
