@each $breakpoint in map-keys($breakpoints) {
  @include screen-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    @each $prop, $name in (margin: margin) {
      @each $size, $length in $spacers {

        .#{$namespace}u-#{$infix}#{$name}#{$size} {
          #{$prop}: $length !important;
        }

        .#{$namespace}u-#{$infix}#{$name}Top#{$size} {
          #{$prop}-top: $length !important;
        }

        .#{$namespace}u-#{$infix}#{$name}Bottom#{$size} {
          #{$prop}-bottom: $length !important;
        }

        .#{$namespace}u-#{$infix}#{$name}Right#{$size} {
          #{$prop}-right: $length !important;
        }

        .#{$namespace}u-#{$infix}#{$name}Left#{$size} {
          #{$prop}-left: $length !important;
        }

        .#{$namespace}u-#{$infix}#{$name}Y#{$size} {
          #{$prop}-top: $length !important;
          #{$prop}-bottom: $length !important;
        }

        .#{$namespace}u-#{$infix}#{$name}X#{$size} {
          #{$prop}-left: $length !important;
          #{$prop}-right: $length !important;
        }
      }
    }

    // Provide `auto` for margins
    .#{$namespace}u-#{$infix}marginAuto {
      margin: auto !important;
    }

    .#{$namespace}u-#{$infix}marginTopAuto {
      margin-top: auto !important;
    }

    .#{$namespace}u-#{$infix}marginRightAuto {
      margin-right: auto !important;
    }

    .#{$namespace}u-#{$infix}marginBottomAuto {
      margin-bottom: auto !important;
    }

    .#{$namespace}u-#{$infix}marginLeftAuto {
      margin-left: auto !important;
    }

    .#{$namespace}u-#{$infix}marginYAuto {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }

    .#{$namespace}u-#{$infix}marginXAuto {
      margin-right: auto !important;
      margin-left: auto !important;
    }
  }
}
