@each $breakpoint in map-keys(screen-get()) {
  $infix: screen-infix($breakpoint);

  @include screen-up($breakpoint) {
    @each $prop, $name in (margin: margin) {
      @each $size in $olt-spaces {
        .u-#{$infix}#{$name}#{$size} {
          #{$prop}: #{$size*1px} !important;
        }

        .u-#{$infix}#{$name}Top#{$size} {
          #{$prop}-top: #{$size*1px} !important;
        }

        .u-#{$infix}#{$name}Bottom#{$size} {
          #{$prop}-bottom: #{$size*1px} !important;
        }

        .u-#{$infix}#{$name}Right#{$size} {
          #{$prop}-right: #{$size*1px} !important;
        }

        .u-#{$infix}#{$name}Left#{$size} {
          #{$prop}-left: #{$size*1px} !important;
        }

        .u-#{$infix}#{$name}Y#{$size} {
          #{$prop}-top: #{$size*1px} !important;
          #{$prop}-bottom: #{$size*1px} !important;
        }

        .u-#{$infix}#{$name}X#{$size} {
          #{$prop}-left: #{$size*1px} !important;
          #{$prop}-right: #{$size*1px} !important;
        }
      }
    }

    // Provide `auto` for margins
    .u-#{$infix}marginAuto {
      margin: auto !important;
    }

    .u-#{$infix}marginTopAuto {
      margin-top: auto !important;
    }

    .u-#{$infix}marginRightAuto {
      margin-right: auto !important;
    }

    .u-#{$infix}marginBottomAuto {
      margin-bottom: auto !important;
    }

    .u-#{$infix}marginLeftAuto {
      margin-left: auto !important;
    }

    .u-#{$infix}marginYAuto {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }

    .u-#{$infix}marginXAuto {
      margin-right: auto !important;
      margin-left: auto !important;
    }
  }
}
