.Frame {
  font-family: $olt-font-family-base;
  font-weight: $olt-font-weight;
  line-height: $olt-line-height;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
  }

  &-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }

  &-header {
    flex: 0 0 auto;
  }

  &-main {
    flex: 1 0 100%;
  }

  &-footer {
    margin-top: 24px;
    flex: 0 0 auto;
  }
}
