.Container {
  $container-padding-x: 8px;
  $container-margin-x: 12px;
  // These values could still be exposed
  // as css-variables like in V1 in the future.
  $container-max-widths: (
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 1248px,
  );

  width: 100%;
  // margin is only applied from sm up
  @include screen-up-v2(sm) {
    width: calc(100% - #{$container-margin-x * 2});
  }

  padding-right: $container-padding-x;
  padding-left: $container-padding-x;
  margin-right: auto;
  margin-left: auto;

  @each $breakpoint, $container-max-width in $container-max-widths {
    @include screen-up-v2($breakpoint) {
      max-width: $container-max-width;
    }
  }

  &--fluid {
    max-width: none;
  }

  &--noPadding {
    padding-right: 0;
    padding-left: 0;
  }
}
