.#{$namespace}Container {
  $container-padding-x: 2rem;
  $container-padding-y: null;
  $container-max-widths: var-get('containerMaxWidth');

  width: 100%;
  padding-right: ($container-padding-x / 2);
  padding-left: ($container-padding-x / 2);
  margin-right: auto;
  margin-left: auto;

  @if $container-padding-y != null {
    padding-top: ($container-padding-y / 2);
    padding-bottom: ($container-padding-y / 2);
  }

  @each $breakpoint, $container-max-width in $container-max-widths {
    @include screen-up($breakpoint) {
      max-width: $container-max-width;
    }
  }

  &--fluid {
    max-width: none;
  }

  &--noPadding {
    padding-right: 0;
    padding-left: 0;
  }
}
