@import '../../core/functions/breakpoint';

.Container {
  $container-padding-x: 8px;
  $container-margin-x: 12px;

  width: 100%;

  @media (min-width: get-breakpoint(sm)) {
    width: calc(100% - #{$container-margin-x * 2});
    max-width: 100%;
  }

  @media (min-width: get-breakpoint(lg)) {
    max-width: 1248px;
  }

  padding-right: $container-padding-x;
  padding-left: $container-padding-x;
  margin-right: auto;
  margin-left: auto;

  &--fluid {
    max-width: none;
  }

  &--noPadding {
    padding-right: 0;
    padding-left: 0;
  }
}
